<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.albee.mydataapi.api.base.bank.repository.BankAccDepositHistMapper">

    <insert id="insertBankAccDepositHist" parameterType="BankAccDepositHistEntity">
        INSERT INTO BANK_ACC_DEPOSIT_HIST
        (
            MEMBER_ID
            ,ORG_CD
            ,ACCOUNT_NUM
            ,SEQNO
            ,TRANS_DTIME
            ,TRANS_NO
            ,TRANS_TYPE
            ,TRANS_CLASS
            ,CURRENCY_CODE
            ,TRANS_AMT
            ,BALANCE_AMT
            ,PAID_IN_CNT
            ,TRANS_MEMO
            ,API_TRAN_DAY
            ,API_TRAN_ID
            ,REG_USER_ID
            ,REG_DT
            ,CHG_USER_ID
            ,CHG_DT
        ) VALUES 
        (
            #{memberId, jdbcType=VARCHAR}
            ,#{orgCd, jdbcType=VARCHAR}
            ,#{accountNum, jdbcType=VARCHAR}
            ,#{seqno, jdbcType=VARCHAR}
            ,#{transDtime, jdbcType=VARCHAR}
            ,#{transNo, jdbcType=VARCHAR}
            ,#{transType, jdbcType=VARCHAR}
            ,#{transClass, jdbcType=VARCHAR}
            ,#{currencyCode, jdbcType=VARCHAR}
            ,#{transAmt, jdbcType=NUMERIC}
            ,#{balanceAmt, jdbcType=NUMERIC}
            ,#{paidInCnt, jdbcType=VARCHAR}
            ,#{transMemo, jdbcType=VARCHAR}
            ,#{apiTranDay, jdbcType=VARCHAR}
            ,#{apiTranId, jdbcType=VARCHAR}
            ,#{regUserId, jdbcType=VARCHAR}
            ,TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
            ,#{chgUserId, jdbcType=VARCHAR}
            ,TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
        ) 
    </insert>

    <update id="updateBankAccDepositHist" parameterType="BankAccDepositHistEntity">
        UPDATE BANK_ACC_DEPOSIT_HIST
           SET 
               MEMBER_ID = #{memberId, jdbcType=VARCHAR}
               ,ORG_CD = #{orgCd, jdbcType=VARCHAR}
               ,ACCOUNT_NUM = #{accountNum, jdbcType=VARCHAR}
               ,SEQNO = #{seqno, jdbcType=VARCHAR}
               ,TRANS_DTIME = #{transDtime, jdbcType=VARCHAR}
               ,TRANS_NO = #{transNo, jdbcType=VARCHAR}
               ,TRANS_TYPE = #{transType, jdbcType=VARCHAR}
               ,TRANS_CLASS = #{transClass, jdbcType=VARCHAR}
               ,CURRENCY_CODE = #{currencyCode, jdbcType=VARCHAR}
               ,TRANS_AMT = #{transAmt, jdbcType=NUMERIC}
               ,BALANCE_AMT = #{balanceAmt, jdbcType=NUMERIC}
               ,PAID_IN_CNT = #{paidInCnt, jdbcType=VARCHAR}
               ,TRANS_MEMO = #{transMemo, jdbcType=VARCHAR}
               ,API_TRAN_DAY = #{apiTranDay, jdbcType=VARCHAR}
               ,API_TRAN_ID = #{apiTranId, jdbcType=VARCHAR}
               ,CHG_USER_ID = #{chgUserId, jdbcType=VARCHAR}
               ,CHG_DT = TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
         WHERE 
               MEMBER_ID = #{memberId}
           AND ORG_CD = #{orgCd}
           AND ACCOUNT_NUM = #{accountNum}
           <if test = 'seqno  != null and seqno != ""'>
               AND SEQNO = #{seqno}
           </if>
           AND TRANS_DTIME = #{transDtime}
           AND TRANS_NO = #{transNo}
            <if test = 'transType  != null and transType != ""'>
                AND TRANS_TYPE = #{transType}
            </if>
    </update>

    <delete id="deleteBankAccDepositHist" parameterType="BankAccDepositHistEntity">
        DELETE FROM BANK_ACC_DEPOSIT_HIST
         WHERE 
               MEMBER_ID = #{memberId}
           AND ORG_CD = #{orgCd}
           AND ACCOUNT_NUM = #{accountNum}
            <if test = 'seqno  != null and seqno != ""'>
                AND SEQNO = #{seqno}
            </if>
           AND TRANS_DTIME = #{transDtime}
           AND TRANS_NO = #{transNo}
            <if test = 'transType  != null and transType != ""'>
                AND TRANS_TYPE = #{transType}
            </if>
    </delete>

    <select id="selectBankAccDepositHist" parameterType="BankAccDepositHistSearch"  resultType="BankAccDepositHistEntity">
         SELECT 
               MEMBER_ID
               ,ORG_CD
               ,ACCOUNT_NUM
               ,SEQNO
               ,TRANS_DTIME
               ,TRANS_NO
               ,TRANS_TYPE
               ,TRANS_CLASS
               ,CURRENCY_CODE
               ,TRANS_AMT
               ,BALANCE_AMT
               ,PAID_IN_CNT
               ,TRANS_MEMO
               ,API_TRAN_DAY
               ,API_TRAN_ID
               ,REG_USER_ID
               ,REG_DT
               ,CHG_USER_ID
               ,CHG_DT
        FROM BANK_ACC_DEPOSIT_HIST
       WHERE 
               MEMBER_ID = #{memberId}
           AND ORG_CD = #{orgCd}
           AND ACCOUNT_NUM = #{accountNum}
            <if test = 'seqno  != null and seqno != ""'>
                AND SEQNO = #{seqno}
            </if>
           AND TRANS_DTIME = #{transDtime}
           AND TRANS_NO = #{transNo}
            <if test = 'transType  != null and transType != ""'>
                AND TRANS_TYPE = #{transType}
            </if>
    </select>

    <select id="selectBankAccDepositHistLast" parameterType="BankAccDepositHistSearch"  resultType="BankAccDepositHistEntity">
        SELECT
            H1.MEMBER_ID
            ,H1.ORG_CD
            ,H1.ACCOUNT_NUM
            ,H1.SEQNO
            ,H1.TRANS_DTIME
            ,H1.TRANS_NO
            ,H1.TRANS_TYPE
            ,H1.TRANS_CLASS
            ,H1.CURRENCY_CODE
            ,H1.TRANS_AMT
            ,H1.BALANCE_AMT
            ,H1.PAID_IN_CNT
            ,H1.TRANS_MEMO
            ,H1.API_TRAN_DAY
            ,H1.API_TRAN_ID
            ,H1.REG_USER_ID
            ,H1.REG_DT
            ,H1.CHG_USER_ID
            ,H1.CHG_DT
        FROM BANK_ACC_DEPOSIT_HIST H1,
            (
                SELECT *
                FROM
                    (
                        SELECT
                            MEMBER_ID, ORG_CD, ACCOUNT_NUM, SEQNO, TRANS_DTIME , TRANS_NO
                        FROM BANK_ACC_DEPOSIT_HIST badh
                        WHERE
                            MEMBER_ID = #{memberId}
                            AND ORG_CD = #{orgCd}
                            AND ACCOUNT_NUM = #{accountNum}
                            <if test = 'seqno  != null and seqno != ""'>
                                AND SEQNO = #{seqno}
                            </if>
                        ORDER BY MEMBER_ID, ORG_CD, ACCOUNT_NUM, SEQNO, TRANS_DTIME DESC, TRANS_NO DESC
                    )
                WHERE rownum = 1
            ) H2
        WHERE H1.MEMBER_ID = H2.MEMBER_ID
        AND H1.ORG_CD = H2.ORG_CD
        AND H1.ACCOUNT_NUM = H2.ACCOUNT_NUM
        AND H1.SEQNO = H2.SEQNO
        AND H1.TRANS_DTIME = H2.TRANS_DTIME
        AND H1.TRANS_NO = H2.TRANS_NO
    </select>

    <select id="selectBankAccDepositHistListTotalCnt" parameterType="BankAccDepositHistSearch"  resultType="Long">
         SELECT 
             COUNT(*) 
        FROM BANK_ACC_DEPOSIT_HIST
       WHERE 1 = 1 
       <if test = 'memberId  != null and memberId != ""'>
           AND MEMBER_ID = #{memberId}
       </if>
       <if test = 'orgCd  != null and orgCd != ""'>
           AND ORG_CD = #{orgCd}
       </if>
       <if test = 'accountNum  != null and accountNum != ""'>
           AND ACCOUNT_NUM = #{accountNum}
       </if>
       <if test = 'seqno  != null and seqno != ""'>
           AND SEQNO = #{seqno}
       </if>
       <if test = 'transDtime  != null and transDtime != ""'>
           AND TRANS_DTIME = #{transDtime}
       </if>
       <if test = 'transNo  != null and transNo != ""'>
           AND TRANS_NO = #{transNo}
       </if>
       <if test = 'transType  != null and transType != ""'>
           AND TRANS_TYPE = #{transType}
       </if>
    </select>

    <select id="selectBankAccDepositHistList" parameterType="BankAccDepositHistSearch"  resultType="BankAccDepositHistEntity">
         SELECT 
             T.ROW_NUM AS ROW_NUM 
             ,T.* 
         FROM 
         ( 
         SELECT 
             ROW_NUMBER() OVER(ORDER BY MEMBER_ID, ORG_CD, ACCOUNT_NUM, SEQNO, TRANS_DTIME DESC, TRANS_NO DESC) ROW_NUM
               ,MEMBER_ID
               ,ORG_CD
               ,ACCOUNT_NUM
               ,SEQNO
               ,TRANS_DTIME
               ,TRANS_NO
               ,TRANS_TYPE
               ,TRANS_CLASS
               ,CURRENCY_CODE
               ,TRANS_AMT
               ,BALANCE_AMT
               ,PAID_IN_CNT
               ,TRANS_MEMO
               ,API_TRAN_DAY
               ,API_TRAN_ID
               ,REG_USER_ID
               ,REG_DT
               ,CHG_USER_ID
               ,CHG_DT
        FROM BANK_ACC_DEPOSIT_HIST
       WHERE 1 = 1 
       <if test = 'memberId  != null and memberId != ""'>
           AND MEMBER_ID = #{memberId}
       </if>
       <if test = 'orgCd  != null and orgCd != ""'>
           AND ORG_CD = #{orgCd}
       </if>
       <if test = 'accountNum  != null and accountNum != ""'>
           AND ACCOUNT_NUM = #{accountNum}
       </if>
       <if test = 'seqno  != null and seqno != ""'>
           AND SEQNO = #{seqno}
       </if>
       <if test = 'transDtime  != null and transDtime != ""'>
           AND TRANS_DTIME = #{transDtime}
       </if>
       <if test = 'transNo  != null and transNo != ""'>
           AND TRANS_NO = #{transNo}
       </if>
       <if test = 'transType  != null and transType != ""'>
           AND TRANS_TYPE = #{transType}
       </if>
        ORDER BY MEMBER_ID, ORG_CD, ACCOUNT_NUM, SEQNO, TRANS_DTIME DESC, TRANS_NO DESC
       ) T 
       <if test = 'startIndex != null and endIndex != null '> 
       WHERE T.ROW_NUM BETWEEN #{startIndex} AND #{endIndex} 
       </if> 
    </select>
</mapper>
