<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.albee.mydataapi.api.base.bank.repository.BankAccFundMapper">

    <insert id="insertBankAccFund" parameterType="BankAccFundEntity">
        INSERT INTO BANK_ACC_FUND
        (
            MEMBER_ID
            ,ORG_CD
            ,ACCOUNT_NUM
            ,SEQNO
            ,STANDARD_FUND_CODE
            ,PAID_IN_TYPE
            ,ISSUE_DATE
            ,EXP_DATE
            ,REG_USER_ID
            ,REG_DT
            ,CHG_USER_ID
            ,CHG_DT
        ) VALUES 
        (
            #{memberId, jdbcType=VARCHAR}
            ,#{orgCd, jdbcType=VARCHAR}
            ,#{accountNum, jdbcType=VARCHAR}
            ,#{seqno, jdbcType=VARCHAR}
            ,#{standardFundCode, jdbcType=VARCHAR}
            ,#{paidInType, jdbcType=VARCHAR}
            ,#{issueDate, jdbcType=VARCHAR}
            ,#{expDate, jdbcType=VARCHAR}
            ,#{regUserId, jdbcType=VARCHAR}
            ,TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
            ,#{chgUserId, jdbcType=VARCHAR}
            ,TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
        ) 
    </insert>

    <update id="updateBankAccFund" parameterType="BankAccFundEntity">
        UPDATE BANK_ACC_FUND
           SET 
               MEMBER_ID = #{memberId, jdbcType=VARCHAR}
               ,ORG_CD = #{orgCd, jdbcType=VARCHAR}
               ,ACCOUNT_NUM = #{accountNum, jdbcType=VARCHAR}
               ,SEQNO = #{seqno, jdbcType=VARCHAR}
               ,STANDARD_FUND_CODE = #{standardFundCode, jdbcType=VARCHAR}
               ,PAID_IN_TYPE = #{paidInType, jdbcType=VARCHAR}
               ,ISSUE_DATE = #{issueDate, jdbcType=VARCHAR}
               ,EXP_DATE = #{expDate, jdbcType=VARCHAR}
               ,CHG_USER_ID = #{chgUserId, jdbcType=VARCHAR}
               ,CHG_DT = TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
         WHERE 
               MEMBER_ID = #{memberId}
           AND ORG_CD = #{orgCd}
           AND ACCOUNT_NUM = #{accountNum}
           AND SEQNO = #{seqno}
           AND STANDARD_FUND_CODE = #{standardFundCode}
           AND PAID_IN_TYPE = #{paidInType}
    </update>

    <delete id="deleteBankAccFund" parameterType="BankAccFundEntity">
        DELETE FROM BANK_ACC_FUND
         WHERE 
               MEMBER_ID = #{memberId}
           AND ORG_CD = #{orgCd}
           AND ACCOUNT_NUM = #{accountNum}
           AND SEQNO = #{seqno}
           AND STANDARD_FUND_CODE = #{standardFundCode}
           AND PAID_IN_TYPE = #{paidInType}
    </delete>

    <select id="selectBankAccFund" parameterType="BankAccFundSearch"  resultType="BankAccFundEntity">
         SELECT 
               MEMBER_ID
               ,ORG_CD
               ,ACCOUNT_NUM
               ,SEQNO
               ,STANDARD_FUND_CODE
               ,PAID_IN_TYPE
               ,ISSUE_DATE
               ,EXP_DATE
               ,REG_USER_ID
               ,REG_DT
               ,CHG_USER_ID
               ,CHG_DT
        FROM BANK_ACC_FUND
       WHERE 
               MEMBER_ID = #{memberId}
           AND ORG_CD = #{orgCd}
           AND ACCOUNT_NUM = #{accountNum}
           AND SEQNO = #{seqno}
           AND STANDARD_FUND_CODE = #{standardFundCode}
           AND PAID_IN_TYPE = #{paidInType}
    </select>

    <select id="selectBankAccFundListTotalCnt" parameterType="BankAccFundSearch"  resultType="Long">
         SELECT 
             COUNT(*) 
        FROM BANK_ACC_FUND
       WHERE 1 = 1 
       <if test = 'memberId  != null and memberId != ""'>
           AND MEMBER_ID = #{memberId}
       </if>
       <if test = 'orgCd  != null and orgCd != ""'>
           AND ORG_CD = #{orgCd}
       </if>
       <if test = 'accountNum  != null and accountNum != ""'>
           AND ACCOUNT_NUM = #{accountNum}
       </if>
       <if test = 'seqno  != null and seqno != ""'>
           AND SEQNO = #{seqno}
       </if>
       <if test = 'standardFundCode  != null and standardFundCode != ""'>
           AND STANDARD_FUND_CODE = #{standardFundCode}
       </if>
       <if test = 'paidInType  != null and paidInType != ""'>
           AND PAID_IN_TYPE = #{paidInType}
       </if>
    </select>

    <select id="selectBankAccFundList" parameterType="BankAccFundSearch"  resultType="BankAccFundEntity">
         SELECT 
             T.ROW_NUM AS ROW_NUM 
             ,T.* 
         FROM 
         ( 
         SELECT 
             ROW_NUMBER() OVER(ORDER BY MEMBER_ID, ORG_CD, ACCOUNT_NUM, SEQNO, STANDARD_FUND_CODE, PAID_IN_TYPE) ROW_NUM
               ,MEMBER_ID
               ,ORG_CD
               ,ACCOUNT_NUM
               ,SEQNO
               ,STANDARD_FUND_CODE
               ,PAID_IN_TYPE
               ,ISSUE_DATE
               ,EXP_DATE
               ,REG_USER_ID
               ,REG_DT
               ,CHG_USER_ID
               ,CHG_DT
        FROM BANK_ACC_FUND
       WHERE 1 = 1 
       <if test = 'memberId  != null and memberId != ""'>
           AND MEMBER_ID = #{memberId}
       </if>
       <if test = 'orgCd  != null and orgCd != ""'>
           AND ORG_CD = #{orgCd}
       </if>
       <if test = 'accountNum  != null and accountNum != ""'>
           AND ACCOUNT_NUM = #{accountNum}
       </if>
       <if test = 'seqno  != null and seqno != ""'>
           AND SEQNO = #{seqno}
       </if>
       <if test = 'standardFundCode  != null and standardFundCode != ""'>
           AND STANDARD_FUND_CODE = #{standardFundCode}
       </if>
       <if test = 'paidInType  != null and paidInType != ""'>
           AND PAID_IN_TYPE = #{paidInType}
       </if>
        ORDER BY MEMBER_ID, ORG_CD, ACCOUNT_NUM, SEQNO, STANDARD_FUND_CODE, PAID_IN_TYPE
       ) T 
       <if test = 'startIndex != null and endIndex != null '> 
       WHERE T.ROW_NUM BETWEEN #{startIndex} AND #{endIndex} 
       </if> 
    </select>
</mapper>
