<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.abcc.mydataapi.api.base.card.repository.CardLoanLgHistMapper">

    <insert id="insertCardLoanLgHist" parameterType="CardLoanLgHistEntity">
        INSERT INTO CARD_LOAN_LG_HIST
        (
            MEMBER_ID
            ,ORG_CD
            ,LOAN_NUM
            ,TRANS_DTIME
            ,TRANS_NO
            ,TRANS_TYPE
            ,CURRENCY_CODE
            ,TRANS_AMT
            ,BALANCE_AMT
            ,PRINCIPAL_AMT
            ,INT_AMT
            ,API_TRAN_DAY
            ,API_TRAN_ID
            ,REG_USER_ID
            ,REG_DT
            ,CHG_USER_ID
            ,CHG_DT
        ) VALUES 
        (
            #{memberId, jdbcType=VARCHAR}
            ,#{orgCd, jdbcType=VARCHAR}
            ,#{loanNum, jdbcType=VARCHAR}
            ,#{transDtime, jdbcType=VARCHAR}
            ,#{transNo, jdbcType=VARCHAR}
            ,#{transType, jdbcType=VARCHAR}
            ,#{currencyCode, jdbcType=VARCHAR}
            ,#{transAmt, jdbcType=NUMERIC}
            ,#{balanceAmt, jdbcType=NUMERIC}
            ,#{principalAmt, jdbcType=NUMERIC}
            ,#{intAmt, jdbcType=NUMERIC}
            ,#{apiTranDay, jdbcType=VARCHAR}
            ,#{apiTranId, jdbcType=VARCHAR}
            ,#{regUserId, jdbcType=VARCHAR}
            ,TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
            ,#{chgUserId, jdbcType=VARCHAR}
            ,TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
        ) 
    </insert>

    <update id="updateCardLoanLgHist" parameterType="CardLoanLgHistEntity">
        UPDATE CARD_LOAN_LG_HIST
           SET 
               MEMBER_ID = #{memberId, jdbcType=VARCHAR}
               ,ORG_CD = #{orgCd, jdbcType=VARCHAR}
               ,LOAN_NUM = #{loanNum, jdbcType=VARCHAR}
               ,TRANS_DTIME = #{transDtime, jdbcType=VARCHAR}
               ,TRANS_NO = #{transNo, jdbcType=VARCHAR}
               ,TRANS_TYPE = #{transType, jdbcType=VARCHAR}
               ,CURRENCY_CODE = #{currencyCode, jdbcType=VARCHAR}
               ,TRANS_AMT = #{transAmt, jdbcType=NUMERIC}
               ,BALANCE_AMT = #{balanceAmt, jdbcType=NUMERIC}
               ,PRINCIPAL_AMT = #{principalAmt, jdbcType=NUMERIC}
               ,INT_AMT = #{intAmt, jdbcType=NUMERIC}
               ,API_TRAN_DAY = #{apiTranDay, jdbcType=VARCHAR}
               ,API_TRAN_ID = #{apiTranId, jdbcType=VARCHAR}
               ,CHG_USER_ID = #{chgUserId, jdbcType=VARCHAR}
               ,CHG_DT = TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
         WHERE 
               MEMBER_ID = #{memberId}
           AND ORG_CD = #{orgCd}
           AND LOAN_NUM = #{loanNum}
           AND TRANS_DTIME = #{transDtime}
           AND TRANS_NO = #{transNo}
    </update>

    <delete id="deleteCardLoanLgHist" parameterType="CardLoanLgHistEntity">
        DELETE FROM CARD_LOAN_LG_HIST
         WHERE 
               MEMBER_ID = #{memberId}
           AND ORG_CD = #{orgCd}
           AND LOAN_NUM = #{loanNum}
           AND TRANS_DTIME = #{transDtime}
           AND TRANS_NO = #{transNo}
    </delete>

    <select id="selectCardLoanLgHist" parameterType="CardLoanLgHistSearch"  resultType="CardLoanLgHistEntity">
         SELECT 
               MEMBER_ID
               ,ORG_CD
               ,LOAN_NUM
               ,TRANS_DTIME
               ,TRANS_NO
               ,TRANS_TYPE
               ,CURRENCY_CODE
               ,TRANS_AMT
               ,BALANCE_AMT
               ,PRINCIPAL_AMT
               ,INT_AMT
               ,API_TRAN_DAY
               ,API_TRAN_ID
               ,REG_USER_ID
               ,REG_DT
               ,CHG_USER_ID
               ,CHG_DT
        FROM CARD_LOAN_LG_HIST
       WHERE 
               MEMBER_ID = #{memberId}
           AND ORG_CD = #{orgCd}
           AND LOAN_NUM = #{loanNum}
           AND TRANS_DTIME = #{transDtime}
           AND TRANS_NO = #{transNo}
    </select>

    <select id="selectCardLoanLgHistLast" parameterType="CardLoanLgHistSearch"  resultType="CardLoanLgHistEntity">
        SELECT
              H1.MEMBER_ID
             ,H1.ORG_CD
             ,H1.LOAN_NUM
             ,H1.TRANS_DTIME
             ,H1.TRANS_NO
             ,H1.TRANS_TYPE
             ,H1.CURRENCY_CODE
             ,H1.TRANS_AMT
             ,H1.BALANCE_AMT
             ,H1.PRINCIPAL_AMT
             ,H1.INT_AMT
             ,H1.API_TRAN_DAY
             ,H1.API_TRAN_ID
             ,H1.REG_USER_ID
             ,H1.REG_DT
             ,H1.CHG_USER_ID
             ,H1.CHG_DT
        FROM CARD_LOAN_LG_HIST H1,
            (
                SELECT *
                FROM
                    (
                        SELECT
                            MEMBER_ID, ORG_CD, LOAN_NUM, TRANS_DTIME , TRANS_NO
                        FROM CARD_LOAN_LG_HIST
                        WHERE
                            MEMBER_ID = #{memberId}
                            AND ORG_CD = #{orgCd}
                            <if test = 'loanNum  != null and loanNum != ""'>
                                AND LOAN_NUM = #{loanNum}
                            </if>
                            <if test = 'transDtime  != null and transDtime != ""'>
                                AND TRANS_DTIME = #{transDtime}
                            </if>
                            <if test = 'transNo  != null and transNo != ""'>
                                AND TRANS_NO = #{transNo}
                            </if>
                        ORDER BY MEMBER_ID, ORG_CD, LOAN_NUM, TRANS_DTIME DESC, TRANS_NO DESC
                    )
                WHERE rownum = 1
            ) H2
        WHERE
            H1.MEMBER_ID = #{memberId}
          AND H1.ORG_CD = #{orgCd}
          AND H1.LOAN_NUM = #{loanNum}
          AND H1.TRANS_DTIME = #{transDtime}
          AND H1.TRANS_NO = #{transNo}
    </select>

    <select id="selectCardLoanLgHistListTotalCnt" parameterType="CardLoanLgHistSearch"  resultType="Long">
         SELECT 
             COUNT(*) 
        FROM CARD_LOAN_LG_HIST
       WHERE 1 = 1 
       <if test = 'memberId  != null and memberId != ""'>
           AND MEMBER_ID = #{memberId}
       </if>
       <if test = 'orgCd  != null and orgCd != ""'>
           AND ORG_CD = #{orgCd}
       </if>
       <if test = 'loanNum  != null and loanNum != ""'>
           AND LOAN_NUM = #{loanNum}
       </if>
       <if test = 'transDtime  != null and transDtime != ""'>
           AND TRANS_DTIME = #{transDtime}
       </if>
       <if test = 'transNo  != null and transNo != ""'>
           AND TRANS_NO = #{transNo}
       </if>
    </select>

    <select id="selectCardLoanLgHistList" parameterType="CardLoanLgHistSearch"  resultType="CardLoanLgHistEntity">
         SELECT 
             T.ROW_NUM AS ROW_NUM 
             ,T.* 
         FROM 
         ( 
         SELECT 
             ROW_NUMBER() OVER(ORDER BY MEMBER_ID, ORG_CD, LOAN_NUM, TRANS_DTIME, TRANS_NO) ROW_NUM
               ,MEMBER_ID
               ,ORG_CD
               ,LOAN_NUM
               ,TRANS_DTIME
               ,TRANS_NO
               ,TRANS_TYPE
               ,CURRENCY_CODE
               ,TRANS_AMT
               ,BALANCE_AMT
               ,PRINCIPAL_AMT
               ,INT_AMT
               ,API_TRAN_DAY
               ,API_TRAN_ID
               ,REG_USER_ID
               ,REG_DT
               ,CHG_USER_ID
               ,CHG_DT
        FROM CARD_LOAN_LG_HIST
       WHERE 1 = 1 
       <if test = 'memberId  != null and memberId != ""'>
           AND MEMBER_ID = #{memberId}
       </if>
       <if test = 'orgCd  != null and orgCd != ""'>
           AND ORG_CD = #{orgCd}
       </if>
       <if test = 'loanNum  != null and loanNum != ""'>
           AND LOAN_NUM = #{loanNum}
       </if>
       <if test = 'transDtime  != null and transDtime != ""'>
           AND TRANS_DTIME = #{transDtime}
       </if>
       <if test = 'transNo  != null and transNo != ""'>
           AND TRANS_NO = #{transNo}
       </if>
        ORDER BY MEMBER_ID, ORG_CD, LOAN_NUM, TRANS_DTIME, TRANS_NO
       ) T 
       <if test = 'startIndex != null and endIndex != null '> 
       WHERE T.ROW_NUM BETWEEN #{startIndex} AND #{endIndex} 
       </if> 
    </select>
</mapper>
