<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.albee.mydataapi.api.base.card.repository.CardPayMapper">

    <insert id="insertCardPay" parameterType="CardPayEntity">
        INSERT INTO CARD_PAY
        (
            MEMBER_ID
            ,ORG_CD
            ,IS_REVOLVING
            ,PAY_CNT
            ,API_TRAN_DAY
            ,API_TRAN_ID
            ,REG_USER_ID
            ,REG_DT
            ,CHG_USER_ID
            ,CHG_DT
        ) VALUES 
        (
            #{memberId, jdbcType=VARCHAR}
            ,#{orgCd, jdbcType=VARCHAR}
            ,#{isRevolving, jdbcType=VARCHAR}
            ,#{payCnt, jdbcType=NUMERIC}
            ,#{apiTranDay, jdbcType=VARCHAR}
            ,#{apiTranId, jdbcType=VARCHAR}
            ,#{regUserId, jdbcType=VARCHAR}
            ,TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
            ,#{chgUserId, jdbcType=VARCHAR}
            ,TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
        ) 
    </insert>

    <update id="updateCardPay" parameterType="CardPayEntity">
        UPDATE CARD_PAY
           SET 
               MEMBER_ID = #{memberId, jdbcType=VARCHAR}
               ,ORG_CD = #{orgCd, jdbcType=VARCHAR}
               ,IS_REVOLVING = #{isRevolving, jdbcType=VARCHAR}
               ,PAY_CNT = #{payCnt, jdbcType=NUMERIC}
               ,API_TRAN_DAY = #{apiTranDay, jdbcType=VARCHAR}
               ,API_TRAN_ID = #{apiTranId, jdbcType=VARCHAR}
               ,CHG_USER_ID = #{chgUserId, jdbcType=VARCHAR}
               ,CHG_DT = TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
         WHERE 
               MEMBER_ID = #{memberId}
           AND ORG_CD = #{orgCd}
    </update>

    <delete id="deleteCardPay" parameterType="CardPayEntity">
        DELETE FROM CARD_PAY
         WHERE 
               MEMBER_ID = #{memberId}
           AND ORG_CD = #{orgCd}
    </delete>

    <select id="selectCardPay" parameterType="CardPaySearch"  resultType="CardPayEntity">
         SELECT 
               MEMBER_ID
               ,ORG_CD
               ,IS_REVOLVING
               ,PAY_CNT
               ,API_TRAN_DAY
               ,API_TRAN_ID
               ,REG_USER_ID
               ,REG_DT
               ,CHG_USER_ID
               ,CHG_DT
        FROM CARD_PAY
       WHERE 
               MEMBER_ID = #{memberId}
           AND ORG_CD = #{orgCd}
    </select>

    <select id="selectCardPayListTotalCnt" parameterType="CardPaySearch"  resultType="Long">
         SELECT 
             COUNT(*) 
        FROM CARD_PAY
       WHERE 1 = 1 
       <if test = 'memberId  != null and memberId != ""'>
           AND MEMBER_ID = #{memberId}
       </if>
       <if test = 'orgCd  != null and orgCd != ""'>
           AND ORG_CD = #{orgCd}
       </if>
    </select>

    <select id="selectCardPayList" parameterType="CardPaySearch"  resultType="CardPayEntity">
         SELECT 
             T.ROW_NUM AS ROW_NUM 
             ,T.* 
         FROM 
         ( 
         SELECT 
             ROW_NUMBER() OVER(ORDER BY MEMBER_ID, ORG_CD) ROW_NUM
               ,MEMBER_ID
               ,ORG_CD
               ,IS_REVOLVING
               ,PAY_CNT
               ,API_TRAN_DAY
               ,API_TRAN_ID
               ,REG_USER_ID
               ,REG_DT
               ,CHG_USER_ID
               ,CHG_DT
        FROM CARD_PAY
       WHERE 1 = 1 
       <if test = 'memberId  != null and memberId != ""'>
           AND MEMBER_ID = #{memberId}
       </if>
       <if test = 'orgCd  != null and orgCd != ""'>
           AND ORG_CD = #{orgCd}
       </if>
        ORDER BY MEMBER_ID, ORG_CD
       ) T 
       <if test = 'startIndex != null and endIndex != null '> 
       WHERE T.ROW_NUM BETWEEN #{startIndex} AND #{endIndex} 
       </if> 
    </select>
</mapper>
