<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kpcnc.mydataapi.api.load.card.repository.CardChargeMapper">

    <insert id="insertCardCharge" parameterType="CardChargeEntity">
        INSERT INTO CARD_CHARGE
        (
            MEMBER_ID
            ,ORG_CD
            ,SEQNO
            ,CHARGE_AMT
            ,CHARGE_DAY
            ,CHARGE_MONTH
            ,PAID_OUT_DATE
            ,REG_USER_ID
            ,REG_DT
            ,CHG_USER_ID
            ,CHG_DT
        ) VALUES 
        (
            #{memberId, jdbcType=VARCHAR}
            ,#{orgCd, jdbcType=VARCHAR}
            ,#{seqno, jdbcType=VARCHAR}
            ,#{chargeAmt, jdbcType=NUMERIC}
            ,#{chargeDay, jdbcType=VARCHAR}
            ,#{chargeMonth, jdbcType=VARCHAR}
            ,#{paidOutDate, jdbcType=VARCHAR}
            ,#{regUserId, jdbcType=VARCHAR}
            ,TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
            ,#{chgUserId, jdbcType=VARCHAR}
            ,TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
        ) 
    </insert>

    <update id="updateCardCharge" parameterType="CardChargeEntity">
        UPDATE CARD_CHARGE
           SET 
               MEMBER_ID = #{memberId, jdbcType=VARCHAR}
               ,ORG_CD = #{orgCd, jdbcType=VARCHAR}
               ,SEQNO = #{seqno, jdbcType=VARCHAR}
               ,CHARGE_AMT = #{chargeAmt, jdbcType=NUMERIC}
               ,CHARGE_DAY = #{chargeDay, jdbcType=VARCHAR}
               ,CHARGE_MONTH = #{chargeMonth, jdbcType=VARCHAR}
               ,PAID_OUT_DATE = #{paidOutDate, jdbcType=VARCHAR}
               ,CHG_USER_ID = #{chgUserId, jdbcType=VARCHAR}
               ,CHG_DT = TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
         WHERE 
               MEMBER_ID = #{memberId}
           AND ORG_CD = #{orgCd}
           AND SEQNO = #{seqno}
    </update>

    <delete id="deleteCardCharge" parameterType="CardChargeEntity">
        DELETE FROM CARD_CHARGE
         WHERE 
               MEMBER_ID = #{memberId}
           AND ORG_CD = #{orgCd}
           AND SEQNO = #{seqno}
    </delete>

    <select id="selectCardCharge" parameterType="CardChargeSearch"  resultType="CardChargeEntity">
         SELECT 
               MEMBER_ID
               ,ORG_CD
               ,SEQNO
               ,CHARGE_AMT
               ,CHARGE_DAY
               ,CHARGE_MONTH
               ,PAID_OUT_DATE
               ,REG_USER_ID
               ,REG_DT
               ,CHG_USER_ID
               ,CHG_DT
        FROM CARD_CHARGE
       WHERE 
               MEMBER_ID = #{memberId}
           AND ORG_CD = #{orgCd}
           AND SEQNO = #{seqno}
    </select>

    <select id="selectCardChargeListTotalCnt" parameterType="CardChargeSearch"  resultType="Long">
         SELECT 
             COUNT(*) 
        FROM CARD_CHARGE
       WHERE 1 = 1 
       <if test = 'memberId  != null and memberId != ""'>
           AND MEMBER_ID = #{memberId}
       </if>
       <if test = 'orgCd  != null and orgCd != ""'>
           AND ORG_CD = #{orgCd}
       </if>
       <if test = 'seqno  != null and seqno != ""'>
           AND SEQNO = #{seqno}
       </if>
    </select>

    <select id="selectCardChargeList" parameterType="CardChargeSearch"  resultType="CardChargeEntity">
         SELECT 
             T.ROW_NUM AS ROW_NUM 
             ,T.* 
         FROM 
         ( 
         SELECT 
             ROW_NUMBER() OVER(ORDER BY MEMBER_ID, ORG_CD, SEQNO) ROW_NUM
               ,MEMBER_ID
               ,ORG_CD
               ,SEQNO
               ,CHARGE_AMT
               ,CHARGE_DAY
               ,CHARGE_MONTH
               ,PAID_OUT_DATE
               ,REG_USER_ID
               ,REG_DT
               ,CHG_USER_ID
               ,CHG_DT
        FROM CARD_CHARGE
       WHERE 1 = 1 
       <if test = 'memberId  != null and memberId != ""'>
           AND MEMBER_ID = #{memberId}
       </if>
       <if test = 'orgCd  != null and orgCd != ""'>
           AND ORG_CD = #{orgCd}
       </if>
       <if test = 'seqno  != null and seqno != ""'>
           AND SEQNO = #{seqno}
       </if>
        ORDER BY MEMBER_ID, ORG_CD, SEQNO
       ) T 
       <if test = 'startIndex != null and endIndex != null '> 
       WHERE T.ROW_NUM BETWEEN #{startIndex} AND #{endIndex} 
       </if> 
    </select>
</mapper>
