<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kpcnc.mydataapi.api.base.card.repository.CardAprDmHistMapper">

    <insert id="insertCardAprDmHist" parameterType="CardAprDmHistEntity">
        INSERT INTO CARD_APR_DM_HIST
        (
            MEMBER_ID
            ,ORG_CD
            ,APPROVED_DTIME
            ,APPROVED_NUM
            ,STATUS
            ,PAY_TYPE
            ,TRANS_DTIME
            ,MERCHANT_NAME
            ,MERCHANT_REGNO
            ,APPROVED_AMT
            ,MODIFIED_AMT
            ,TOTAL_INSTALL_CNT
            ,API_TRAN_DAY
            ,API_TRAN_ID
            ,REG_USER_ID
            ,REG_DT
            ,CHG_USER_ID
            ,CHG_DT
        ) VALUES 
        (
            #{memberId, jdbcType=VARCHAR}
            ,#{orgCd, jdbcType=VARCHAR}
            ,#{approvedDtime, jdbcType=VARCHAR}
            ,#{approvedNum, jdbcType=VARCHAR}
            ,#{status, jdbcType=VARCHAR}
            ,#{payType, jdbcType=VARCHAR}
            ,#{transDtime, jdbcType=VARCHAR}
            ,#{merchantName, jdbcType=VARCHAR}
            ,#{merchantRegno, jdbcType=VARCHAR}
            ,#{approvedAmt, jdbcType=NUMERIC}
            ,#{modifiedAmt, jdbcType=NUMERIC}
            ,#{totalInstallCnt, jdbcType=NUMERIC}
            ,#{apiTranDay, jdbcType=VARCHAR}
            ,#{apiTranId, jdbcType=VARCHAR}
            ,#{regUserId, jdbcType=VARCHAR}
            ,TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
            ,#{chgUserId, jdbcType=VARCHAR}
            ,TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
        ) 
    </insert>

    <update id="updateCardAprDmHist" parameterType="CardAprDmHistEntity">
        UPDATE CARD_APR_DM_HIST
           SET 
               MEMBER_ID = #{memberId, jdbcType=VARCHAR}
               ,ORG_CD = #{orgCd, jdbcType=VARCHAR}
               ,APPROVED_DTIME = #{approvedDtime, jdbcType=VARCHAR}
               ,APPROVED_NUM = #{approvedNum, jdbcType=VARCHAR}
               ,STATUS = #{status, jdbcType=VARCHAR}
               ,PAY_TYPE = #{payType, jdbcType=VARCHAR}
               ,TRANS_DTIME = #{transDtime, jdbcType=VARCHAR}
               ,MERCHANT_NAME = #{merchantName, jdbcType=VARCHAR}
               ,MERCHANT_REGNO = #{merchantRegno, jdbcType=VARCHAR}
               ,APPROVED_AMT = #{approvedAmt, jdbcType=NUMERIC}
               ,MODIFIED_AMT = #{modifiedAmt, jdbcType=NUMERIC}
               ,TOTAL_INSTALL_CNT = #{totalInstallCnt, jdbcType=NUMERIC}
               ,API_TRAN_DAY = #{apiTranDay, jdbcType=VARCHAR}
               ,API_TRAN_ID = #{apiTranId, jdbcType=VARCHAR}
               ,CHG_USER_ID = #{chgUserId, jdbcType=VARCHAR}
               ,CHG_DT = TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
         WHERE 
               MEMBER_ID = #{memberId}
           AND ORG_CD = #{orgCd}
           AND APPROVED_DTIME = #{approvedDtime}
           AND APPROVED_NUM = #{approvedNum}
    </update>

    <delete id="deleteCardAprDmHist" parameterType="CardAprDmHistEntity">
        DELETE FROM CARD_APR_DM_HIST
         WHERE 
               MEMBER_ID = #{memberId}
           AND ORG_CD = #{orgCd}
           AND APPROVED_DTIME = #{approvedDtime}
           AND APPROVED_NUM = #{approvedNum}
    </delete>

    <select id="selectCardAprDmHist" parameterType="CardAprDmHistSearch"  resultType="CardAprDmHistEntity">
         SELECT 
               MEMBER_ID
               ,ORG_CD
               ,APPROVED_DTIME
               ,APPROVED_NUM
               ,STATUS
               ,PAY_TYPE
               ,TRANS_DTIME
               ,MERCHANT_NAME
               ,MERCHANT_REGNO
               ,APPROVED_AMT
               ,MODIFIED_AMT
               ,TOTAL_INSTALL_CNT
               ,API_TRAN_DAY
               ,API_TRAN_ID
               ,REG_USER_ID
               ,REG_DT
               ,CHG_USER_ID
               ,CHG_DT
        FROM CARD_APR_DM_HIST
       WHERE 
               MEMBER_ID = #{memberId}
           AND ORG_CD = #{orgCd}
           AND APPROVED_DTIME = #{approvedDtime}
           AND APPROVED_NUM = #{approvedNum}
    </select>

    <select id="selectCardAprDmHistLast" parameterType="CardAprDmHistSearch"  resultType="CardAprDmHistEntity">
         SELECT
                H1.MEMBER_ID
               ,H1.ORG_CD
               ,H1.APPROVED_DTIME
               ,H1.APPROVED_NUM
               ,H1.STATUS
               ,H1.PAY_TYPE
               ,H1.TRANS_DTIME
               ,H1.MERCHANT_NAME
               ,H1.MERCHANT_REGNO
               ,H1.APPROVED_AMT
               ,H1.MODIFIED_AMT
               ,H1.TOTAL_INSTALL_CNT
               ,H1.API_TRAN_DAY
               ,H1.API_TRAN_ID
               ,H1.REG_USER_ID
               ,H1.REG_DT
               ,H1.CHG_USER_ID
               ,H1.CHG_DT
        FROM CARD_APR_DM_HIST H1,
            (
                SELECT *
                FROM
                    (
                        SELECT
                            MEMBER_ID, ORG_CD, APPROVED_DTIME, APPROVED_NUM
                        FROM CARD_APR_DM_HIST
                        WHERE
                            MEMBER_ID = #{memberId}
                            AND ORG_CD = #{orgCd}
                            <if test = 'approvedDtime  != null and approvedDtime != ""'>
                                AND APPROVED_DTIME = #{approvedDtime}
                            </if>
                            <if test = 'approvedNum  != null and approvedNum != ""'>
                                AND APPROVED_NUM = #{approvedNum}
                            </if>
                        ORDER BY MEMBER_ID, ORG_CD, APPROVED_DTIME DESC, APPROVED_NUM DESC
                    )
                WHERE rownum = 1
            ) H2
       WHERE
               H1.MEMBER_ID = H2.MEMBER_ID
           AND H1.ORG_CD = H2.ORG_CD
           AND H1.APPROVED_DTIME = H2.APPROVED_DTIME
           AND H1.APPROVED_NUM = H2.APPROVED_NUM
    </select>

    <select id="selectCardAprDmHistListTotalCnt" parameterType="CardAprDmHistSearch"  resultType="Long">
         SELECT 
             COUNT(*) 
        FROM CARD_APR_DM_HIST
       WHERE 1 = 1 
       <if test = 'memberId  != null and memberId != ""'>
           AND MEMBER_ID = #{memberId}
       </if>
       <if test = 'orgCd  != null and orgCd != ""'>
           AND ORG_CD = #{orgCd}
       </if>
       <if test = 'approvedDtime  != null and approvedDtime != ""'>
           AND APPROVED_DTIME = #{approvedDtime}
       </if>
       <if test = 'approvedNum  != null and approvedNum != ""'>
           AND APPROVED_NUM = #{approvedNum}
       </if>
    </select>

    <select id="selectCardAprDmHistList" parameterType="CardAprDmHistSearch"  resultType="CardAprDmHistEntity">
         SELECT 
             T.ROW_NUM AS ROW_NUM 
             ,T.* 
         FROM 
         ( 
         SELECT 
             ROW_NUMBER() OVER(ORDER BY MEMBER_ID, ORG_CD, APPROVED_DTIME, APPROVED_NUM) ROW_NUM
               ,MEMBER_ID
               ,ORG_CD
               ,APPROVED_DTIME
               ,APPROVED_NUM
               ,STATUS
               ,PAY_TYPE
               ,TRANS_DTIME
               ,MERCHANT_NAME
               ,MERCHANT_REGNO
               ,APPROVED_AMT
               ,MODIFIED_AMT
               ,TOTAL_INSTALL_CNT
               ,API_TRAN_DAY
               ,API_TRAN_ID
               ,REG_USER_ID
               ,REG_DT
               ,CHG_USER_ID
               ,CHG_DT
        FROM CARD_APR_DM_HIST
       WHERE 1 = 1 
       <if test = 'memberId  != null and memberId != ""'>
           AND MEMBER_ID = #{memberId}
       </if>
       <if test = 'orgCd  != null and orgCd != ""'>
           AND ORG_CD = #{orgCd}
       </if>
       <if test = 'approvedDtime  != null and approvedDtime != ""'>
           AND APPROVED_DTIME = #{approvedDtime}
       </if>
       <if test = 'approvedNum  != null and approvedNum != ""'>
           AND APPROVED_NUM = #{approvedNum}
       </if>
        ORDER BY MEMBER_ID, ORG_CD, APPROVED_DTIME, APPROVED_NUM
       ) T 
       <if test = 'startIndex != null and endIndex != null '> 
       WHERE T.ROW_NUM BETWEEN #{startIndex} AND #{endIndex} 
       </if> 
    </select>
</mapper>
