<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kpcnc.mydataapi.api.load.dc.repository.DcBaseMapper">

    <insert id="insertDcBase" parameterType="DcBaseEntity">
        INSERT INTO DC_BASE
        (
            MEMBER_ID
            ,ORG_CD
            ,DC_NUM
            ,BALANCE_AMT
            ,EVAL_AMT
            ,ISSUE_DATE
            ,REG_USER_ID
            ,REG_DT
            ,CHG_USER_ID
            ,CHG_DT
        ) VALUES 
        (
            #{memberId, jdbcType=VARCHAR}
            ,#{orgCd, jdbcType=VARCHAR}
            ,#{dcNum, jdbcType=VARCHAR}
            ,#{balanceAmt, jdbcType=NUMERIC}
            ,#{evalAmt, jdbcType=NUMERIC}
            ,#{issueDate, jdbcType=VARCHAR}
            ,#{regUserId, jdbcType=VARCHAR}
            ,TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
            ,#{chgUserId, jdbcType=VARCHAR}
            ,TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
        ) 
    </insert>

    <update id="updateDcBase" parameterType="DcBaseEntity">
        UPDATE DC_BASE
           SET 
               MEMBER_ID = #{memberId, jdbcType=VARCHAR}
               ,ORG_CD = #{orgCd, jdbcType=VARCHAR}
               ,DC_NUM = #{dcNum, jdbcType=VARCHAR}
               ,BALANCE_AMT = #{balanceAmt, jdbcType=NUMERIC}
               ,EVAL_AMT = #{evalAmt, jdbcType=NUMERIC}
               ,ISSUE_DATE = #{issueDate, jdbcType=VARCHAR}
               ,CHG_USER_ID = #{chgUserId, jdbcType=VARCHAR}
               ,CHG_DT = TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
         WHERE 
               MEMBER_ID = #{memberId}
           AND ORG_CD = #{orgCd}
           AND DC_NUM = #{dcNum}
    </update>

    <delete id="deleteDcBase" parameterType="DcBaseEntity">
        DELETE FROM DC_BASE
         WHERE 
               MEMBER_ID = #{memberId}
           AND ORG_CD = #{orgCd}
           AND DC_NUM = #{dcNum}
    </delete>

    <select id="selectDcBase" parameterType="DcBaseSearch"  resultType="DcBaseEntity">
         SELECT 
               MEMBER_ID
               ,ORG_CD
               ,DC_NUM
               ,BALANCE_AMT
               ,EVAL_AMT
               ,ISSUE_DATE
               ,REG_USER_ID
               ,REG_DT
               ,CHG_USER_ID
               ,CHG_DT
        FROM DC_BASE
       WHERE 
               MEMBER_ID = #{memberId}
           AND ORG_CD = #{orgCd}
           AND DC_NUM = #{dcNum}
    </select>

    <select id="selectDcBaseListTotalCnt" parameterType="DcBaseSearch"  resultType="Long">
         SELECT 
             COUNT(*) 
        FROM DC_BASE
       WHERE 1 = 1 
       <if test = 'memberId  != null and memberId != ""'>
           AND MEMBER_ID = #{memberId}
       </if>
       <if test = 'orgCd  != null and orgCd != ""'>
           AND ORG_CD = #{orgCd}
       </if>
       <if test = 'dcNum  != null and dcNum != ""'>
           AND DC_NUM = #{dcNum}
       </if>
    </select>

    <select id="selectDcBaseList" parameterType="DcBaseSearch"  resultType="DcBaseEntity">
         SELECT 
             T.ROW_NUM AS ROW_NUM 
             ,T.* 
         FROM 
         ( 
         SELECT 
             ROW_NUMBER() OVER(ORDER BY MEMBER_ID, ORG_CD, DC_NUM) ROW_NUM
               ,MEMBER_ID
               ,ORG_CD
               ,DC_NUM
               ,BALANCE_AMT
               ,EVAL_AMT
               ,ISSUE_DATE
               ,REG_USER_ID
               ,REG_DT
               ,CHG_USER_ID
               ,CHG_DT
        FROM DC_BASE
       WHERE 1 = 1 
       <if test = 'memberId  != null and memberId != ""'>
           AND MEMBER_ID = #{memberId}
       </if>
       <if test = 'orgCd  != null and orgCd != ""'>
           AND ORG_CD = #{orgCd}
       </if>
       <if test = 'dcNum  != null and dcNum != ""'>
           AND DC_NUM = #{dcNum}
       </if>
        ORDER BY MEMBER_ID, ORG_CD, DC_NUM
       ) T 
       <if test = 'startIndex != null and endIndex != null '> 
       WHERE T.ROW_NUM BETWEEN #{startIndex} AND #{endIndex} 
       </if> 
    </select>
</mapper>
