<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.albee.mydataapi.api.base.common.repository.DeleteP2pMapper">

    <delete id="deleteP2pLoanAdd" parameterType="DeleteKeyDto">
        DELETE FROM P2P_LOAN_ADD
        WHERE
            MEMBER_ID = #{memberId}
          AND ORG_CD = #{orgCd}
            <if test = 'asset  != null and asset != ""'>
                AND LENDING_ID = #{asset}
            </if>
    </delete>

    <delete id="deleteP2pLoanBase" parameterType="DeleteKeyDto">
        DELETE FROM P2P_LOAN_BASE
        WHERE
            MEMBER_ID = #{memberId}
          AND ORG_CD = #{orgCd}
            <if test = 'asset  != null and asset != ""'>
                AND LENDING_ID = #{asset}
            </if>
    </delete>


    <delete id="deleteP2pLoanHist" parameterType="DeleteKeyDto">
        DELETE FROM P2P_LOAN_HIST
        WHERE
            MEMBER_ID = #{memberId}
          AND ORG_CD = #{orgCd}
            <if test = 'asset  != null and asset != ""'>
                AND LENDING_ID = #{asset}
            </if>
    </delete>

    <delete id="deleteP2pLoan" parameterType="DeleteKeyDto">
        DELETE FROM P2P_LOAN
        WHERE
            MEMBER_ID = #{memberId}
          AND ORG_CD = #{orgCd}
            <if test = 'asset  != null and asset != ""'>
                AND LENDING_ID = #{asset}
            </if>
    </delete>
</mapper>
