<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.albee.mydataapi.api.base.common.repository.DeleteDcMapper">

    <delete id="deletePpayAprHist" parameterType="DeleteKeyDto">
        DELETE FROM PPAY_APR_HIST
        WHERE
            MEMBER_ID = #{memberId}
          AND ORG_CD = #{orgCd}
            <if test = 'asset  != null and asset != ""'>
                AND PP_ID = #{asset}
            </if>
            <if test = 'seqno  != null and seqno != ""'>
                AND APPROVED_NUM = #{seqno}
            </if>
    </delete>

    <delete id="deletePpayBal" parameterType="DeleteKeyDto">
        DELETE FROM PPAY_BAL
        WHERE
            MEMBER_ID = #{memberId}
          AND ORG_CD = #{orgCd}
            <if test = 'asset  != null and asset != ""'>
                AND PP_ID = #{asset}
            </if>
    </delete>

    <delete id="deletePpayHist" parameterType="DeleteKeyDto">
        DELETE FROM PPAY_HIST
        WHERE
            MEMBER_ID = #{memberId}
          AND ORG_CD = #{orgCd}
            <if test = 'asset  != null and asset != ""'>
                AND PP_ID = #{asset}
            </if>
    </delete>

    <delete id="deletePpay" parameterType="DeleteKeyDto">
        DELETE FROM PPAY
        WHERE
            MEMBER_ID = #{memberId}
          AND ORG_CD = #{orgCd}
            <if test = 'asset  != null and asset != ""'>
                AND PP_ID = #{asset}
            </if>
    </delete>


</mapper>
