<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.albee.mydataapi.api.base.common.repository.DeleteDcMapper">

    <delete id="deleteDb" parameterType="DeleteKeyDto">
        DELETE FROM DB
        WHERE
            MEMBER_ID = #{memberId}
          AND ORG_CD = #{orgCd}
    </delete>

</mapper>
