<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.albee.mydataapi.api.base.gurt.repository.GurtMapper">

    <insert id="insertGurt" parameterType="GurtEntity">
        INSERT INTO GURT
        (
            MEMBER_ID
            ,ORG_CD
            ,INSU_NUM
            ,IS_CONSENT
            ,PROD_NAME
            ,INSU_TYPE
            ,INSU_STATUS
            ,API_TRAN_DAY
            ,API_TRAN_ID
            ,REG_USER_ID
            ,REG_DT
            ,CHG_USER_ID
            ,CHG_DT
        ) VALUES 
        (
            #{memberId, jdbcType=VARCHAR}
            ,#{orgCd, jdbcType=VARCHAR}
            ,#{insuNum, jdbcType=VARCHAR}
            ,#{isConsent, jdbcType=VARCHAR}
            ,#{prodName, jdbcType=VARCHAR}
            ,#{insuType, jdbcType=VARCHAR}
            ,#{insuStatus, jdbcType=VARCHAR}
            ,#{apiTranDay, jdbcType=VARCHAR}
            ,#{apiTranId, jdbcType=VARCHAR}
            ,#{regUserId, jdbcType=VARCHAR}
            ,TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
            ,#{chgUserId, jdbcType=VARCHAR}
            ,TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
        ) 
    </insert>

    <update id="updateGurt" parameterType="GurtEntity">
        UPDATE GURT
           SET 
               MEMBER_ID = #{memberId, jdbcType=VARCHAR}
               ,ORG_CD = #{orgCd, jdbcType=VARCHAR}
               ,INSU_NUM = #{insuNum, jdbcType=VARCHAR}
               ,IS_CONSENT = #{isConsent, jdbcType=VARCHAR}
               ,PROD_NAME = #{prodName, jdbcType=VARCHAR}
               ,INSU_TYPE = #{insuType, jdbcType=VARCHAR}
               ,INSU_STATUS = #{insuStatus, jdbcType=VARCHAR}
               ,API_TRAN_DAY = #{apiTranDay, jdbcType=VARCHAR}
               ,API_TRAN_ID = #{apiTranId, jdbcType=VARCHAR}
               ,CHG_USER_ID = #{chgUserId, jdbcType=VARCHAR}
               ,CHG_DT = TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
         WHERE 
               MEMBER_ID = #{memberId}
           AND ORG_CD = #{orgCd}
           AND INSU_NUM = #{insuNum}
    </update>

    <delete id="deleteGurt" parameterType="GurtEntity">
        DELETE FROM GURT
         WHERE 
               MEMBER_ID = #{memberId}
           AND ORG_CD = #{orgCd}
           AND INSU_NUM = #{insuNum}
    </delete>

    <delete id="deleteAllGurt" parameterType="GurtEntity">
        DELETE FROM GURT
         WHERE
               MEMBER_ID = #{memberId}
           AND ORG_CD = #{orgCd}
    </delete>

    <select id="selectGurt" parameterType="GurtSearch"  resultType="GurtEntity">
         SELECT 
               MEMBER_ID
               ,ORG_CD
               ,INSU_NUM
               ,IS_CONSENT
               ,PROD_NAME
               ,INSU_TYPE
               ,INSU_STATUS
               ,API_TRAN_DAY
               ,API_TRAN_ID
               ,REG_USER_ID
               ,REG_DT
               ,CHG_USER_ID
               ,CHG_DT
        FROM GURT
       WHERE 
               MEMBER_ID = #{memberId}
           AND ORG_CD = #{orgCd}
           AND INSU_NUM = #{insuNum}
    </select>

    <select id="selectGurtLast" parameterType="GurtSearch"  resultType="GurtEntity">
         SELECT
                G1.MEMBER_ID
               ,G1.ORG_CD
               ,G1.INSU_NUM
               ,G1.IS_CONSENT
               ,G1.PROD_NAME
               ,G1.INSU_TYPE
               ,G1.INSU_STATUS
               ,G1.API_TRAN_DAY
               ,G1.API_TRAN_ID
               ,G1.REG_USER_ID
               ,G1.REG_DT
               ,G1.CHG_USER_ID
               ,G1.CHG_DT
        FROM GURT G1,
            (
                SELECT *
                FROM
                    (
                        SELECT
                            MEMBER_ID, ORG_CD, INSU_NUM
                        FROM GURT
                        WHERE
                            MEMBER_ID = #{memberId}
                            AND ORG_CD = #{orgCd}
                            <if test = 'insuNum  != null and insuNum != ""'>
                                AND INSU_NUM = #{insuNum}
                            </if>
                        ORDER BY MEMBER_ID, ORG_CD, INSU_NUM, CHG_DATE DESC
                    )
                WHERE rownum = 1
            ) G2
       WHERE
               G1.MEMBER_ID = G2.MEMBER_ID
           AND G1.ORG_CD = G2.ORG_CD
           AND G1.INSU_NUM = G2.INSU_NUM
    </select>

    <select id="selectGurtListTotalCnt" parameterType="GurtSearch"  resultType="Long">
         SELECT 
             COUNT(*) 
        FROM GURT
       WHERE 1 = 1 
       <if test = 'memberId  != null and memberId != ""'>
           AND MEMBER_ID = #{memberId}
       </if>
       <if test = 'orgCd  != null and orgCd != ""'>
           AND ORG_CD = #{orgCd}
       </if>
       <if test = 'insuNum  != null and insuNum != ""'>
           AND INSU_NUM = #{insuNum}
       </if>
    </select>

    <select id="selectGurtList" parameterType="GurtSearch"  resultType="GurtEntity">
         SELECT 
             T.ROW_NUM AS ROW_NUM 
             ,T.* 
         FROM 
         ( 
         SELECT 
             ROW_NUMBER() OVER(ORDER BY MEMBER_ID, ORG_CD, INSU_NUM) ROW_NUM
               ,MEMBER_ID
               ,ORG_CD
               ,INSU_NUM
               ,IS_CONSENT
               ,PROD_NAME
               ,INSU_TYPE
               ,INSU_STATUS
               ,API_TRAN_DAY
               ,API_TRAN_ID
               ,REG_USER_ID
               ,REG_DT
               ,CHG_USER_ID
               ,CHG_DT
        FROM GURT
       WHERE 1 = 1 
       <if test = 'memberId  != null and memberId != ""'>
           AND MEMBER_ID = #{memberId}
       </if>
       <if test = 'orgCd  != null and orgCd != ""'>
           AND ORG_CD = #{orgCd}
       </if>
       <if test = 'insuNum  != null and insuNum != ""'>
           AND INSU_NUM = #{insuNum}
       </if>
        ORDER BY MEMBER_ID, ORG_CD, INSU_NUM
       ) T 
       <if test = 'startIndex != null and endIndex != null '> 
       WHERE T.ROW_NUM BETWEEN #{startIndex} AND #{endIndex} 
       </if> 
    </select>
</mapper>
