<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kpcnc.mydataapi.api.base.gurt.repository.GurtInsdMapper">

    <insert id="insertGurtInsd" parameterType="GurtInsdEntity">
        INSERT INTO GURT_INSD
        (
            MEMBER_ID
            ,ORG_CD
            ,INSU_NUM
            ,INSURED_NAME
            ,REG_USER_ID
            ,REG_DT
            ,CHG_USER_ID
            ,CHG_DT
        ) VALUES 
        (
            #{memberId, jdbcType=VARCHAR}
            ,#{orgCd, jdbcType=VARCHAR}
            ,#{insuNum, jdbcType=VARCHAR}
            ,#{insuredName, jdbcType=VARCHAR}
            ,#{regUserId, jdbcType=VARCHAR}
            ,TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
            ,#{chgUserId, jdbcType=VARCHAR}
            ,TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
        ) 
    </insert>

    <update id="updateGurtInsd" parameterType="GurtInsdEntity">
        UPDATE GURT_INSD
           SET 
               MEMBER_ID = #{memberId, jdbcType=VARCHAR}
               ,ORG_CD = #{orgCd, jdbcType=VARCHAR}
               ,INSU_NUM = #{insuNum, jdbcType=VARCHAR}
               ,INSURED_NAME = #{insuredName, jdbcType=VARCHAR}
               ,CHG_USER_ID = #{chgUserId, jdbcType=VARCHAR}
               ,CHG_DT = TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
         WHERE 
               MEMBER_ID = #{memberId}
           AND ORG_CD = #{orgCd}
           AND INSU_NUM = #{insuNum}
           AND INSURED_NAME = #{insuredName}
    </update>

    <delete id="deleteGurtInsd" parameterType="GurtInsdEntity">
        DELETE FROM GURT_INSD
         WHERE 
               MEMBER_ID = #{memberId}
           AND ORG_CD = #{orgCd}
           AND INSU_NUM = #{insuNum}
           AND INSURED_NAME = #{insuredName}
    </delete>

    <select id="selectGurtInsd" parameterType="GurtInsdSearch"  resultType="GurtInsdEntity">
         SELECT 
               MEMBER_ID
               ,ORG_CD
               ,INSU_NUM
               ,INSURED_NAME
               ,REG_USER_ID
               ,REG_DT
               ,CHG_USER_ID
               ,CHG_DT
        FROM GURT_INSD
       WHERE 
               MEMBER_ID = #{memberId}
           AND ORG_CD = #{orgCd}
           AND INSU_NUM = #{insuNum}
           AND INSURED_NAME = #{insuredName}
    </select>

    <select id="selectGurtInsdListTotalCnt" parameterType="GurtInsdSearch"  resultType="Long">
         SELECT 
             COUNT(*) 
        FROM GURT_INSD
       WHERE 1 = 1 
       <if test = 'memberId  != null and memberId != ""'>
           AND MEMBER_ID = #{memberId}
       </if>
       <if test = 'orgCd  != null and orgCd != ""'>
           AND ORG_CD = #{orgCd}
       </if>
       <if test = 'insuNum  != null and insuNum != ""'>
           AND INSU_NUM = #{insuNum}
       </if>
       <if test = 'insuredName  != null and insuredName != ""'>
           AND INSURED_NAME = #{insuredName}
       </if>
    </select>

    <select id="selectGurtInsdList" parameterType="GurtInsdSearch"  resultType="GurtInsdEntity">
         SELECT 
             T.ROW_NUM AS ROW_NUM 
             ,T.* 
         FROM 
         ( 
         SELECT 
             ROW_NUMBER() OVER(ORDER BY MEMBER_ID, ORG_CD, INSU_NUM, INSURED_NAME) ROW_NUM
               ,MEMBER_ID
               ,ORG_CD
               ,INSU_NUM
               ,INSURED_NAME
               ,REG_USER_ID
               ,REG_DT
               ,CHG_USER_ID
               ,CHG_DT
        FROM GURT_INSD
       WHERE 1 = 1 
       <if test = 'memberId  != null and memberId != ""'>
           AND MEMBER_ID = #{memberId}
       </if>
       <if test = 'orgCd  != null and orgCd != ""'>
           AND ORG_CD = #{orgCd}
       </if>
       <if test = 'insuNum  != null and insuNum != ""'>
           AND INSU_NUM = #{insuNum}
       </if>
       <if test = 'insuredName  != null and insuredName != ""'>
           AND INSURED_NAME = #{insuredName}
       </if>
        ORDER BY MEMBER_ID, ORG_CD, INSU_NUM, INSURED_NAME
       ) T 
       <if test = 'startIndex != null and endIndex != null '> 
       WHERE T.ROW_NUM BETWEEN #{startIndex} AND #{endIndex} 
       </if> 
    </select>
</mapper>
