<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.albee.mydataapi.api.base.insu.repository.InsuGurtMapper">

    <insert id="insertInsuGurt" parameterType="InsuGurtEntity">
        INSERT INTO INSU_GURT
        (
            MEMBER_ID
            ,ORG_CD
            ,INSU_NUM
            ,SUBJECT
            ,RELATION
            ,STATUS
            ,COVERAGE_CODE
            ,TYPE
            ,COVERAGE_NUM
            ,COVERAGE_NAME
            ,COVERAGE_AMT
            ,START_DATE
            ,END_DATE
            ,API_TRAN_DAY
            ,API_TRAN_ID
            ,REG_USER_ID
            ,REG_DT
            ,CHG_USER_ID
            ,CHG_DT
        ) VALUES 
        (
            #{memberId, jdbcType=VARCHAR}
            ,#{orgCd, jdbcType=VARCHAR}
            ,#{insuNum, jdbcType=VARCHAR}
            ,#{subject, jdbcType=VARCHAR}
            ,#{relation, jdbcType=VARCHAR}
            ,#{status, jdbcType=VARCHAR}
            ,#{coverageCode, jdbcType=VARCHAR}
            ,#{type, jdbcType=NUMERIC}
            ,#{coverageNum, jdbcType=VARCHAR}
            ,#{coverageName, jdbcType=VARCHAR}
            ,#{coverageAmt, jdbcType=NUMERIC}
            ,#{startDate, jdbcType=VARCHAR}
            ,#{endDate, jdbcType=VARCHAR}
            ,#{apiTranDay, jdbcType=VARCHAR}
            ,#{apiTranId, jdbcType=VARCHAR}
            ,#{regUserId, jdbcType=VARCHAR}
            ,TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
            ,#{chgUserId, jdbcType=VARCHAR}
            ,TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
        ) 
    </insert>

    <update id="updateInsuGurt" parameterType="InsuGurtEntity">
        UPDATE INSU_GURT
           SET 
               MEMBER_ID = #{memberId, jdbcType=VARCHAR}
               ,ORG_CD = #{orgCd, jdbcType=VARCHAR}
               ,INSU_NUM = #{insuNum, jdbcType=VARCHAR}
               ,SUBJECT = #{subject, jdbcType=VARCHAR}
               ,RELATION = #{relation, jdbcType=VARCHAR}
               ,STATUS = #{status, jdbcType=VARCHAR}
               ,COVERAGE_CODE = #{coverageCode, jdbcType=VARCHAR}
               ,TYPE = #{type, jdbcType=NUMERIC}
               ,COVERAGE_NUM = #{coverageNum, jdbcType=VARCHAR}
               ,COVERAGE_NAME = #{coverageName, jdbcType=VARCHAR}
               ,COVERAGE_AMT = #{coverageAmt, jdbcType=NUMERIC}
               ,START_DATE = #{startDate, jdbcType=VARCHAR}
               ,END_DATE = #{endDate, jdbcType=VARCHAR}
               ,API_TRAN_DAY = #{apiTranDay, jdbcType=VARCHAR}
               ,API_TRAN_ID = #{apiTranId, jdbcType=VARCHAR}
               ,CHG_USER_ID = #{chgUserId, jdbcType=VARCHAR}
               ,CHG_DT = TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
         WHERE 
               MEMBER_ID = #{memberId}
           AND ORG_CD = #{orgCd}
           AND INSU_NUM = #{insuNum}
           AND SUBJECT = #{subject}
           AND RELATION = #{relation}
    </update>

    <delete id="deleteInsuGurt" parameterType="InsuGurtEntity">
        DELETE FROM INSU_GURT
         WHERE 
               MEMBER_ID = #{memberId}
           AND ORG_CD = #{orgCd}
           AND INSU_NUM = #{insuNum}
           AND SUBJECT = #{subject}
           AND RELATION = #{relation}
    </delete>

    <delete id="deleteAllInsuGurt" parameterType="InsuGurtEntity">
        DELETE FROM INSU_GURT
         WHERE
               MEMBER_ID = #{memberId}
           AND ORG_CD = #{orgCd}
           AND INSU_NUM = #{insuNum}
    </delete>

    <select id="selectInsuGurt" parameterType="InsuGurtSearch"  resultType="InsuGurtEntity">
         SELECT 
               MEMBER_ID
               ,ORG_CD
               ,INSU_NUM
               ,SUBJECT
               ,RELATION
               ,STATUS
               ,COVERAGE_CODE
               ,TYPE
               ,COVERAGE_NUM
               ,COVERAGE_NAME
               ,COVERAGE_AMT
               ,START_DATE
               ,END_DATE
               ,API_TRAN_DAY
               ,API_TRAN_ID
               ,REG_USER_ID
               ,REG_DT
               ,CHG_USER_ID
               ,CHG_DT
        FROM INSU_GURT
       WHERE 
               MEMBER_ID = #{memberId}
           AND ORG_CD = #{orgCd}
           AND INSU_NUM = #{insuNum}
           AND SUBJECT = #{subject}
           AND RELATION = #{relation}
    </select>

    <select id="selectInsuGurtLast" parameterType="InsuGurtSearch"  resultType="InsuGurtEntity">
         SELECT
                S1.MEMBER_ID
               ,S1.ORG_CD
               ,S1.INSU_NUM
               ,S1.SUBJECT
               ,S1.RELATION
               ,S1.STATUS
               ,S1.COVERAGE_CODE
               ,S1.TYPE
               ,S1.COVERAGE_NUM
               ,S1.COVERAGE_NAME
               ,S1.COVERAGE_AMT
               ,S1.START_DATE
               ,S1.END_DATE
               ,S1.API_TRAN_DAY
               ,S1.API_TRAN_ID
               ,S1.REG_USER_ID
               ,S1.REG_DT
               ,S1.CHG_USER_ID
               ,S1.CHG_DT
        FROM INSU_GURT S1,
            (
                SELECT *
                FROM
                    (
                        SELECT
                            MEMBER_ID, ORG_CD, INSU_NUM, SUBJECT, RELATION
                        FROM INSU_GURT
                        WHERE
                            MEMBER_ID = #{memberId}
                            AND ORG_CD = #{orgCd}
                            AND INSU_NUM = #{insuNum}
                            <if test = 'subject  != null and subject != ""'>
                                AND SUBJECT = #{subject}
                            </if>
                            <if test = 'relation  != null and relation != ""'>
                                AND RELATION = #{relation}
                            </if>
                        ORDER BY MEMBER_ID, ORG_CD, INSU_NUM, CHG_DT DESC
                    )
                WHERE rownum = 1
            ) S2
       WHERE
               S1.MEMBER_ID = S2.MEMBER_ID
           AND S1.ORG_CD = S2.ORG_CD
           AND S1.INSU_NUM = S2.INSU_NUM
           AND S1.SUBJECT = S2.SUBJECT
           AND S1.RELATION = S2.RELATION
    </select>

    <select id="selectInsuGurtListTotalCnt" parameterType="InsuGurtSearch"  resultType="Long">
         SELECT 
             COUNT(*) 
        FROM INSU_GURT
       WHERE 1 = 1 
       <if test = 'memberId  != null and memberId != ""'>
           AND MEMBER_ID = #{memberId}
       </if>
       <if test = 'orgCd  != null and orgCd != ""'>
           AND ORG_CD = #{orgCd}
       </if>
       <if test = 'insuNum  != null and insuNum != ""'>
           AND INSU_NUM = #{insuNum}
       </if>
       <if test = 'subject  != null and subject != ""'>
           AND SUBJECT = #{subject}
       </if>
       <if test = 'relation  != null and relation != ""'>
           AND RELATION = #{relation}
       </if>
    </select>

    <select id="selectInsuGurtList" parameterType="InsuGurtSearch"  resultType="InsuGurtEntity">
         SELECT 
             T.ROW_NUM AS ROW_NUM 
             ,T.* 
         FROM 
         ( 
         SELECT 
             ROW_NUMBER() OVER(ORDER BY MEMBER_ID, ORG_CD, INSU_NUM, SUBJECT, RELATION) ROW_NUM
               ,MEMBER_ID
               ,ORG_CD
               ,INSU_NUM
               ,SUBJECT
               ,RELATION
               ,STATUS
               ,COVERAGE_CODE
               ,TYPE
               ,COVERAGE_NUM
               ,COVERAGE_NAME
               ,COVERAGE_AMT
               ,START_DATE
               ,END_DATE
               ,API_TRAN_DAY
               ,API_TRAN_ID
               ,REG_USER_ID
               ,REG_DT
               ,CHG_USER_ID
               ,CHG_DT
        FROM INSU_GURT
       WHERE 1 = 1 
       <if test = 'memberId  != null and memberId != ""'>
           AND MEMBER_ID = #{memberId}
       </if>
       <if test = 'orgCd  != null and orgCd != ""'>
           AND ORG_CD = #{orgCd}
       </if>
       <if test = 'insuNum  != null and insuNum != ""'>
           AND INSU_NUM = #{insuNum}
       </if>
       <if test = 'subject  != null and subject != ""'>
           AND SUBJECT = #{subject}
       </if>
       <if test = 'relation  != null and relation != ""'>
           AND RELATION = #{relation}
       </if>
        ORDER BY MEMBER_ID, ORG_CD, INSU_NUM, SUBJECT, RELATION
       ) T 
       <if test = 'startIndex != null and endIndex != null '> 
       WHERE T.ROW_NUM BETWEEN #{startIndex} AND #{endIndex} 
       </if> 
    </select>
</mapper>
