<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kpcnc.mydataapi.api.base.insu.repository.InsuMiMapper">

    <insert id="insertInsuMi" parameterType="InsuMiEntity">
        INSERT INTO INSU_MI
        (
            MEMBER_ID
            ,ORG_CD
            ,INSU_NUM
            ,SUBJECT
            ,RELATION
            ,STATUS
            ,COVERAGE_CODE
            ,TYPE
            ,COVERAGE_NUM
            ,COVERAGE_NAME
            ,COVERAGE_AMT
            ,START_DATE
            ,END_DATE
            ,REG_USER_ID
            ,REG_DT
            ,CHG_USER_ID
            ,CHG_DT
        ) VALUES 
        (
            #{memberId, jdbcType=VARCHAR}
            ,#{orgCd, jdbcType=VARCHAR}
            ,#{insuNum, jdbcType=VARCHAR}
            ,#{subject, jdbcType=VARCHAR}
            ,#{relation, jdbcType=VARCHAR}
            ,#{status, jdbcType=VARCHAR}
            ,#{coverageCode, jdbcType=VARCHAR}
            ,#{type, jdbcType=VARCHAR}
            ,#{coverageNum, jdbcType=VARCHAR}
            ,#{coverageName, jdbcType=VARCHAR}
            ,#{coverageAmt, jdbcType=NUMERIC}
            ,#{startDate, jdbcType=VARCHAR}
            ,#{endDate, jdbcType=VARCHAR}
            ,#{regUserId, jdbcType=VARCHAR}
            ,TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
            ,#{chgUserId, jdbcType=VARCHAR}
            ,TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
        ) 
    </insert>

    <update id="updateInsuMi" parameterType="InsuMiEntity">
        UPDATE INSU_MI
           SET 
               MEMBER_ID = #{memberId, jdbcType=VARCHAR}
               ,ORG_CD = #{orgCd, jdbcType=VARCHAR}
               ,INSU_NUM = #{insuNum, jdbcType=VARCHAR}
               ,SUBJECT = #{subject, jdbcType=VARCHAR}
               ,RELATION = #{relation, jdbcType=VARCHAR}
               ,STATUS = #{status, jdbcType=VARCHAR}
               ,COVERAGE_CODE = #{coverageCode, jdbcType=VARCHAR}
               ,TYPE = #{type, jdbcType=VARCHAR}
               ,COVERAGE_NUM = #{coverageNum, jdbcType=VARCHAR}
               ,COVERAGE_NAME = #{coverageName, jdbcType=VARCHAR}
               ,COVERAGE_AMT = #{coverageAmt, jdbcType=NUMERIC}
               ,START_DATE = #{startDate, jdbcType=VARCHAR}
               ,END_DATE = #{endDate, jdbcType=VARCHAR}
               ,CHG_USER_ID = #{chgUserId, jdbcType=VARCHAR}
               ,CHG_DT = TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
         WHERE 
               MEMBER_ID = #{memberId}
           AND ORG_CD = #{orgCd}
           AND INSU_NUM = #{insuNum}
           AND SUBJECT = #{subject}
           AND RELATION = #{relation}
    </update>

    <delete id="deleteInsuMi" parameterType="InsuMiEntity">
        DELETE FROM INSU_MI
         WHERE 
               MEMBER_ID = #{memberId}
           AND ORG_CD = #{orgCd}
           AND INSU_NUM = #{insuNum}
           AND SUBJECT = #{subject}
           AND RELATION = #{relation}
    </delete>

    <select id="selectInsuMi" parameterType="InsuMiSearch"  resultType="InsuMiEntity">
         SELECT 
               MEMBER_ID
               ,ORG_CD
               ,INSU_NUM
               ,SUBJECT
               ,RELATION
               ,STATUS
               ,COVERAGE_CODE
               ,TYPE
               ,COVERAGE_NUM
               ,COVERAGE_NAME
               ,COVERAGE_AMT
               ,START_DATE
               ,END_DATE
               ,REG_USER_ID
               ,REG_DT
               ,CHG_USER_ID
               ,CHG_DT
        FROM INSU_MI
       WHERE 
               MEMBER_ID = #{memberId}
           AND ORG_CD = #{orgCd}
           AND INSU_NUM = #{insuNum}
           AND SUBJECT = #{subject}
           AND RELATION = #{relation}
    </select>

    <select id="selectInsuMiListTotalCnt" parameterType="InsuMiSearch"  resultType="Long">
         SELECT 
             COUNT(*) 
        FROM INSU_MI
       WHERE 1 = 1 
       <if test = 'memberId  != null and memberId != ""'>
           AND MEMBER_ID = #{memberId}
       </if>
       <if test = 'orgCd  != null and orgCd != ""'>
           AND ORG_CD = #{orgCd}
       </if>
       <if test = 'insuNum  != null and insuNum != ""'>
           AND INSU_NUM = #{insuNum}
       </if>
       <if test = 'subject  != null and subject != ""'>
           AND SUBJECT = #{subject}
       </if>
       <if test = 'relation  != null and relation != ""'>
           AND RELATION = #{relation}
       </if>
    </select>

    <select id="selectInsuMiList" parameterType="InsuMiSearch"  resultType="InsuMiEntity">
         SELECT 
             T.ROW_NUM AS ROW_NUM 
             ,T.* 
         FROM 
         ( 
         SELECT 
             ROW_NUMBER() OVER(ORDER BY MEMBER_ID, ORG_CD, INSU_NUM, SUBJECT, RELATION) ROW_NUM
               ,MEMBER_ID
               ,ORG_CD
               ,INSU_NUM
               ,SUBJECT
               ,RELATION
               ,STATUS
               ,COVERAGE_CODE
               ,TYPE
               ,COVERAGE_NUM
               ,COVERAGE_NAME
               ,COVERAGE_AMT
               ,START_DATE
               ,END_DATE
               ,REG_USER_ID
               ,REG_DT
               ,CHG_USER_ID
               ,CHG_DT
        FROM INSU_MI
       WHERE 1 = 1 
       <if test = 'memberId  != null and memberId != ""'>
           AND MEMBER_ID = #{memberId}
       </if>
       <if test = 'orgCd  != null and orgCd != ""'>
           AND ORG_CD = #{orgCd}
       </if>
       <if test = 'insuNum  != null and insuNum != ""'>
           AND INSU_NUM = #{insuNum}
       </if>
       <if test = 'subject  != null and subject != ""'>
           AND SUBJECT = #{subject}
       </if>
       <if test = 'relation  != null and relation != ""'>
           AND RELATION = #{relation}
       </if>
        ORDER BY MEMBER_ID, ORG_CD, INSU_NUM, SUBJECT, RELATION
       ) T 
       <if test = 'startIndex != null and endIndex != null '> 
       WHERE T.ROW_NUM BETWEEN #{startIndex} AND #{endIndex} 
       </if> 
    </select>
</mapper>
