<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kpcnc.mydataapi.api.base.insu.repository.InsuInsdGurtMapper">

    <insert id="insertInsuInsdGurt" parameterType="InsuInsdGurtEntity">
        INSERT INTO INSU_INSD_GURT
        (
            MEMBER_ID
            ,ORG_CD
            ,INSU_NUM
            ,GURT_SEQ
            ,SUBJECT
            ,RELATION
            ,STATUS
            ,COVERAGE_CODE
            ,TYPE
            ,COVERAGE_NUM
            ,COVERAGE_NAME
            ,COVERAGE_AMT
            ,START_DATE
            ,END_DATE
            ,API_TRAN_DAY
            ,API_TRAN_ID
            ,REG_USER_ID
            ,REG_DT
            ,CHG_USER_ID
            ,CHG_DT
        ) VALUES 
        (
            #{memberId, jdbcType=VARCHAR}
            ,#{orgCd, jdbcType=VARCHAR}
            ,#{insuNum, jdbcType=VARCHAR}
            ,#{gurtSeq, jdbcType=NUMERIC}
            ,#{subject, jdbcType=VARCHAR}
            ,#{relation, jdbcType=VARCHAR}
            ,#{status, jdbcType=VARCHAR}
            ,#{coverageCode, jdbcType=VARCHAR}
            ,#{type, jdbcType=VARCHAR}
            ,#{coverageNum, jdbcType=VARCHAR}
            ,#{coverageName, jdbcType=VARCHAR}
            ,#{coverageAmt, jdbcType=NUMERIC}
            ,#{startDate, jdbcType=VARCHAR}
            ,#{endDate, jdbcType=VARCHAR}
            ,#{apiTranDay, jdbcType=VARCHAR}
            ,#{apiTranId, jdbcType=VARCHAR}
            ,#{regUserId, jdbcType=VARCHAR}
            ,TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
            ,#{chgUserId, jdbcType=VARCHAR}
            ,TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
        ) 
    </insert>

    <update id="updateInsuInsdGurt" parameterType="InsuInsdGurtEntity">
        UPDATE INSU_INSD_GURT
           SET 
               MEMBER_ID = #{memberId, jdbcType=VARCHAR}
               ,ORG_CD = #{orgCd, jdbcType=VARCHAR}
               ,INSU_NUM = #{insuNum, jdbcType=VARCHAR}
               ,GURT_SEQ = #{gurtSeq, jdbcType=NUMERIC}
               ,SUBJECT = #{subject, jdbcType=VARCHAR}
               ,RELATION = #{relation, jdbcType=VARCHAR}
               ,STATUS = #{status, jdbcType=VARCHAR}
               ,COVERAGE_CODE = #{coverageCode, jdbcType=VARCHAR}
               ,TYPE = #{type, jdbcType=VARCHAR}
               ,COVERAGE_NUM = #{coverageNum, jdbcType=VARCHAR}
               ,COVERAGE_NAME = #{coverageName, jdbcType=VARCHAR}
               ,COVERAGE_AMT = #{coverageAmt, jdbcType=NUMERIC}
               ,START_DATE = #{startDate, jdbcType=VARCHAR}
               ,END_DATE = #{endDate, jdbcType=VARCHAR}
               ,API_TRAN_DAY = #{apiTranDay, jdbcType=VARCHAR}
               ,API_TRAN_ID = #{apiTranId, jdbcType=VARCHAR}
               ,CHG_USER_ID = #{chgUserId, jdbcType=VARCHAR}
               ,CHG_DT = TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
         WHERE 
               MEMBER_ID = #{memberId}
           AND ORG_CD = #{orgCd}
           AND INSU_NUM = #{insuNum}
           AND GURT_SEQ = #{gurtSeq}
           AND SUBJECT = #{subject}
           AND RELATION = #{relation}
    </update>

    <delete id="deleteInsuInsdGurt" parameterType="InsuInsdGurtEntity">
        DELETE FROM INSU_INSD_GURT
         WHERE 
               MEMBER_ID = #{memberId}
           AND ORG_CD = #{orgCd}
           AND INSU_NUM = #{insuNum}
           AND GURT_SEQ = #{gurtSeq}
           AND SUBJECT = #{subject}
           AND RELATION = #{relation}
    </delete>

    <delete id="deleteAllInsuInsdGurt" parameterType="InsuInsdGurtEntity">
        DELETE FROM INSU_INSD_GURT
         WHERE
               MEMBER_ID = #{memberId}
           AND ORG_CD = #{orgCd}
           AND INSU_NUM = #{insuNum}
    </delete>

    <select id="selectInsuInsdGurt" parameterType="InsuInsdGurtSearch"  resultType="InsuInsdGurtEntity">
         SELECT 
               MEMBER_ID
               ,ORG_CD
               ,INSU_NUM
               ,GURT_SEQ
               ,SUBJECT
               ,RELATION
               ,STATUS
               ,COVERAGE_CODE
               ,TYPE
               ,COVERAGE_NUM
               ,COVERAGE_NAME
               ,COVERAGE_AMT
               ,START_DATE
               ,END_DATE
               ,API_TRAN_DAY
               ,API_TRAN_ID
               ,REG_USER_ID
               ,REG_DT
               ,CHG_USER_ID
               ,CHG_DT
        FROM INSU_INSD_GURT
       WHERE 
               MEMBER_ID = #{memberId}
           AND ORG_CD = #{orgCd}
           AND INSU_NUM = #{insuNum}
           AND GURT_SEQ = #{gurtSeq}
           AND SUBJECT = #{subject}
           AND RELATION = #{relation}
    </select>

    <select id="selectInsuInsdGurtLast" parameterType="InsuInsdGurtSearch"  resultType="InsuInsdGurtEntity">
         SELECT
                G1.MEMBER_ID
               ,G1.ORG_CD
               ,G1.INSU_NUM
               ,G1.GURT_SEQ
               ,G1.SUBJECT
               ,G1.RELATION
               ,G1.STATUS
               ,G1.COVERAGE_CODE
               ,G1.TYPE
               ,G1.COVERAGE_NUM
               ,G1.COVERAGE_NAME
               ,G1.COVERAGE_AMT
               ,G1.START_DATE
               ,G1.END_DATE
               ,G1.API_TRAN_DAY
               ,G1.API_TRAN_ID
               ,G1.REG_USER_ID
               ,G1.REG_DT
               ,G1.CHG_USER_ID
               ,G1.CHG_DT
        FROM INSU_INSD_GURT G1,
            (
                SELECT *
                FROM
                    (
                        SELECT
                            MEMBER_ID, ORG_CD, INSU_NUM, GURT_SEQ, SUBJECT, RELATION
                        FROM INSU_INSD_GURT
                        WHERE
                            MEMBER_ID = #{memberId}
                            AND ORG_CD = #{orgCd}
                            AND INSU_NUM = #{insuNum}
                            <if test = 'gurtSeq  != null and gurtSeq != ""'>
                                AND GURT_SEQ = #{gurtSeq}
                            </if>
                            <if test = 'subject  != null and subject != ""'>
                                AND SUBJECT = #{subject}
                            </if>
                            <if test = 'relation  != null and relation != ""'>
                                AND RELATION = #{relation}
                            </if>
                        ORDER BY MEMBER_ID, ORG_CD, INSU_NUM, CHG_DT DESC
                    )
                WHERE rownum = 1
            ) G2
       WHERE
             G1.MEMBER_ID = G2.MEMBER_ID
           AND G1.ORG_CD = G2.ORG_CD
           AND G1.INSU_NUM = G2.INSU_NUM
           AND G1.GURT_SEQ = G2.GURT_SEQ
           AND G1.SUBJECT = G2.SUBJECT
           AND G1.RELATION = G2.RELATION
    </select>

    <select id="selectInsuInsdGurtListTotalCnt" parameterType="InsuInsdGurtSearch"  resultType="Long">
         SELECT 
             COUNT(*) 
        FROM INSU_INSD_GURT
       WHERE 1 = 1 
       <if test = 'memberId  != null and memberId != ""'>
           AND MEMBER_ID = #{memberId}
       </if>
       <if test = 'orgCd  != null and orgCd != ""'>
           AND ORG_CD = #{orgCd}
       </if>
       <if test = 'insuNum  != null and insuNum != ""'>
           AND INSU_NUM = #{insuNum}
       </if>
       <if test = 'gurtSeq  != null and gurtSeq != ""'>
           AND GURT_SEQ = #{gurtSeq}
       </if>
       <if test = 'subject  != null and subject != ""'>
           AND SUBJECT = #{subject}
       </if>
       <if test = 'relation  != null and relation != ""'>
           AND RELATION = #{relation}
       </if>
    </select>

    <select id="selectInsuInsdGurtList" parameterType="InsuInsdGurtSearch"  resultType="InsuInsdGurtEntity">
         SELECT 
             T.ROW_NUM AS ROW_NUM 
             ,T.* 
         FROM 
         ( 
         SELECT 
             ROW_NUMBER() OVER(ORDER BY MEMBER_ID, ORG_CD, INSU_NUM, GURT_SEQ, SUBJECT, RELATION) ROW_NUM
               ,MEMBER_ID
               ,ORG_CD
               ,INSU_NUM
               ,GURT_SEQ
               ,SUBJECT
               ,RELATION
               ,STATUS
               ,COVERAGE_CODE
               ,TYPE
               ,COVERAGE_NUM
               ,COVERAGE_NAME
               ,COVERAGE_AMT
               ,START_DATE
               ,END_DATE
               ,API_TRAN_DAY
               ,API_TRAN_ID
               ,REG_USER_ID
               ,REG_DT
               ,CHG_USER_ID
               ,CHG_DT
        FROM INSU_INSD_GURT
       WHERE 1 = 1 
       <if test = 'memberId  != null and memberId != ""'>
           AND MEMBER_ID = #{memberId}
       </if>
       <if test = 'orgCd  != null and orgCd != ""'>
           AND ORG_CD = #{orgCd}
       </if>
       <if test = 'insuNum  != null and insuNum != ""'>
           AND INSU_NUM = #{insuNum}
       </if>
       <if test = 'gurtSeq  != null and gurtSeq != ""'>
           AND GURT_SEQ = #{gurtSeq}
       </if>
       <if test = 'subject  != null and subject != ""'>
           AND SUBJECT = #{subject}
       </if>
       <if test = 'relation  != null and relation != ""'>
           AND RELATION = #{relation}
       </if>
        ORDER BY MEMBER_ID, ORG_CD, INSU_NUM, GURT_SEQ, SUBJECT, RELATION
       ) T 
       <if test = 'startIndex != null and endIndex != null '> 
       WHERE T.ROW_NUM BETWEEN #{startIndex} AND #{endIndex} 
       </if> 
    </select>
</mapper>
