<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.abcc.mydataapi.api.base.insu.repository.InsuPayMapper">

    <insert id="insertInsuPay" parameterType="InsuPayEntity">
        INSERT INTO INSU_PAY
        (
            MEMBER_ID
            ,ORG_CD
            ,INSU_NUM
            ,PAY_DUE
            ,PAY_CYCLE
            ,PAY_CNT
            ,PAY_ORG_CODE
            ,PAY_ACCOUNT_NUM
            ,PAY_DATE
            ,PAY_END_DATE
            ,PAY_AMT
            ,CURRENCY_CODE
            ,IS_AUTO_PAY
            ,REG_USER_ID
            ,REG_DT
            ,CHG_USER_ID
            ,CHG_DT
        ) VALUES 
        (
            #{memberId, jdbcType=VARCHAR}
            ,#{orgCd, jdbcType=VARCHAR}
            ,#{insuNum, jdbcType=VARCHAR}
            ,#{payDue, jdbcType=VARCHAR}
            ,#{payCycle, jdbcType=VARCHAR}
            ,#{payCnt, jdbcType=NUMERIC}
            ,#{payOrgCode, jdbcType=VARCHAR}
            ,#{payAccountNum, jdbcType=VARCHAR}
            ,#{payDate, jdbcType=VARCHAR}
            ,#{payEndDate, jdbcType=VARCHAR}
            ,#{payAmt, jdbcType=NUMERIC}
            ,#{currencyCode, jdbcType=VARCHAR}
            ,#{isAutoPay, jdbcType=VARCHAR}
            ,#{regUserId, jdbcType=VARCHAR}
            ,TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
            ,#{chgUserId, jdbcType=VARCHAR}
            ,TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
        ) 
    </insert>

    <update id="updateInsuPay" parameterType="InsuPayEntity">
        UPDATE INSU_PAY
           SET 
               MEMBER_ID = #{memberId, jdbcType=VARCHAR}
               ,ORG_CD = #{orgCd, jdbcType=VARCHAR}
               ,INSU_NUM = #{insuNum, jdbcType=VARCHAR}
               ,PAY_DUE = #{payDue, jdbcType=VARCHAR}
               ,PAY_CYCLE = #{payCycle, jdbcType=VARCHAR}
               ,PAY_CNT = #{payCnt, jdbcType=NUMERIC}
               ,PAY_ORG_CODE = #{payOrgCode, jdbcType=VARCHAR}
               ,PAY_ACCOUNT_NUM = #{payAccountNum, jdbcType=VARCHAR}
               ,PAY_DATE = #{payDate, jdbcType=VARCHAR}
               ,PAY_END_DATE = #{payEndDate, jdbcType=VARCHAR}
               ,PAY_AMT = #{payAmt, jdbcType=NUMERIC}
               ,CURRENCY_CODE = #{currencyCode, jdbcType=VARCHAR}
               ,IS_AUTO_PAY = #{isAutoPay, jdbcType=VARCHAR}
               ,CHG_USER_ID = #{chgUserId, jdbcType=VARCHAR}
               ,CHG_DT = TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
         WHERE 
               MEMBER_ID = #{memberId}
           AND ORG_CD = #{orgCd}
           AND INSU_NUM = #{insuNum}
    </update>

    <delete id="deleteInsuPay" parameterType="InsuPayEntity">
        DELETE FROM INSU_PAY
         WHERE 
               MEMBER_ID = #{memberId}
           AND ORG_CD = #{orgCd}
           AND INSU_NUM = #{insuNum}
    </delete>

    <select id="selectInsuPay" parameterType="InsuPaySearch"  resultType="InsuPayEntity">
         SELECT 
               MEMBER_ID
               ,ORG_CD
               ,INSU_NUM
               ,PAY_DUE
               ,PAY_CYCLE
               ,PAY_CNT
               ,PAY_ORG_CODE
               ,PAY_ACCOUNT_NUM
               ,PAY_DATE
               ,PAY_END_DATE
               ,PAY_AMT
               ,CURRENCY_CODE
               ,IS_AUTO_PAY
               ,REG_USER_ID
               ,REG_DT
               ,CHG_USER_ID
               ,CHG_DT
        FROM INSU_PAY
       WHERE 
               MEMBER_ID = #{memberId}
           AND ORG_CD = #{orgCd}
           AND INSU_NUM = #{insuNum}
    </select>

    <select id="selectInsuPayListTotalCnt" parameterType="InsuPaySearch"  resultType="Long">
         SELECT 
             COUNT(*) 
        FROM INSU_PAY
       WHERE 1 = 1 
       <if test = 'memberId  != null and memberId != ""'>
           AND MEMBER_ID = #{memberId}
       </if>
       <if test = 'orgCd  != null and orgCd != ""'>
           AND ORG_CD = #{orgCd}
       </if>
       <if test = 'insuNum  != null and insuNum != ""'>
           AND INSU_NUM = #{insuNum}
       </if>
    </select>

    <select id="selectInsuPayList" parameterType="InsuPaySearch"  resultType="InsuPayEntity">
         SELECT 
             T.ROW_NUM AS ROW_NUM 
             ,T.* 
         FROM 
         ( 
         SELECT 
             ROW_NUMBER() OVER(ORDER BY MEMBER_ID, ORG_CD, INSU_NUM) ROW_NUM
               ,MEMBER_ID
               ,ORG_CD
               ,INSU_NUM
               ,PAY_DUE
               ,PAY_CYCLE
               ,PAY_CNT
               ,PAY_ORG_CODE
               ,PAY_ACCOUNT_NUM
               ,PAY_DATE
               ,PAY_END_DATE
               ,PAY_AMT
               ,CURRENCY_CODE
               ,IS_AUTO_PAY
               ,REG_USER_ID
               ,REG_DT
               ,CHG_USER_ID
               ,CHG_DT
        FROM INSU_PAY
       WHERE 1 = 1 
       <if test = 'memberId  != null and memberId != ""'>
           AND MEMBER_ID = #{memberId}
       </if>
       <if test = 'orgCd  != null and orgCd != ""'>
           AND ORG_CD = #{orgCd}
       </if>
       <if test = 'insuNum  != null and insuNum != ""'>
           AND INSU_NUM = #{insuNum}
       </if>
        ORDER BY MEMBER_ID, ORG_CD, INSU_NUM
       ) T 
       <if test = 'startIndex != null and endIndex != null '> 
       WHERE T.ROW_NUM BETWEEN #{startIndex} AND #{endIndex} 
       </if> 
    </select>
</mapper>
