<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.albee.mydataapi.api.base.insu.repository.InsuInsdMapper">

    <insert id="insertInsuInsd" parameterType="InsuInsdEntity">
        INSERT INTO INSU_INSD
        (
            MEMBER_ID
            ,ORG_CD
            ,INSU_NUM
            ,IS_CONSENT
            ,PROD_NAME
            ,INSU_TYPE
            ,INSU_STATUS
            ,API_TRAN_DAY
            ,API_TRAN_ID
            ,REG_USER_ID
            ,REG_DT
            ,CHG_USER_ID
            ,CHG_DT
        ) VALUES 
        (
            #{memberId, jdbcType=VARCHAR}
            ,#{orgCd, jdbcType=VARCHAR}
            ,#{insuNum, jdbcType=VARCHAR}
            ,#{isConsent, jdbcType=VARCHAR}
            ,#{prodName, jdbcType=VARCHAR}
            ,#{insuType, jdbcType=VARCHAR}
            ,#{insuStatus, jdbcType=VARCHAR}
            ,#{apiTranDay, jdbcType=VARCHAR}
            ,#{apiTranId, jdbcType=VARCHAR}
            ,#{regUserId, jdbcType=VARCHAR}
            ,TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
            ,#{chgUserId, jdbcType=VARCHAR}
            ,TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
        ) 
    </insert>

    <update id="updateInsuInsd" parameterType="InsuInsdEntity">
        UPDATE INSU_INSD
           SET 
               MEMBER_ID = #{memberId, jdbcType=VARCHAR}
               ,ORG_CD = #{orgCd, jdbcType=VARCHAR}
               ,INSU_NUM = #{insuNum, jdbcType=VARCHAR}
               ,IS_CONSENT = #{isConsent, jdbcType=VARCHAR}
               ,PROD_NAME = #{prodName, jdbcType=VARCHAR}
               ,INSU_TYPE = #{insuType, jdbcType=VARCHAR}
               ,INSU_STATUS = #{insuStatus, jdbcType=VARCHAR}
               ,API_TRAN_DAY = #{apiTranDay, jdbcType=VARCHAR}
               ,API_TRAN_ID = #{apiTranId, jdbcType=VARCHAR}
               ,CHG_USER_ID = #{chgUserId, jdbcType=VARCHAR}
               ,CHG_DT = TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
         WHERE 
               MEMBER_ID = #{memberId}
           AND ORG_CD = #{orgCd}
           AND INSU_NUM = #{insuNum}
    </update>

    <delete id="deleteInsuInsd" parameterType="InsuInsdEntity">
        DELETE FROM INSU_INSD
         WHERE 
               MEMBER_ID = #{memberId}
           AND ORG_CD = #{orgCd}
           AND INSU_NUM = #{insuNum}
    </delete>

    <delete id="deleteAllInsuInsd" parameterType="InsuInsdEntity">
        DELETE FROM INSU_INSD
         WHERE
               MEMBER_ID = #{memberId}
           AND ORG_CD = #{orgCd}
    </delete>

    <select id="selectInsuInsd" parameterType="InsuInsdSearch"  resultType="InsuInsdEntity">
         SELECT 
               MEMBER_ID
               ,ORG_CD
               ,INSU_NUM
               ,IS_CONSENT
               ,PROD_NAME
               ,INSU_TYPE
               ,INSU_STATUS
               ,API_TRAN_DAY
               ,API_TRAN_ID
               ,REG_USER_ID
               ,REG_DT
               ,CHG_USER_ID
               ,CHG_DT
        FROM INSU_INSD
       WHERE 
               MEMBER_ID = #{memberId}
           AND ORG_CD = #{orgCd}
           AND INSU_NUM = #{insuNum}
    </select>

    <select id="selectInsuInsdLast" parameterType="InsuInsdSearch"  resultType="InsuInsdEntity">
         SELECT
                S1.MEMBER_ID
               ,S1.ORG_CD
               ,S1.INSU_NUM
               ,S1.IS_CONSENT
               ,S1.PROD_NAME
               ,S1.INSU_TYPE
               ,S1.INSU_STATUS
               ,S1.API_TRAN_DAY
               ,S1.API_TRAN_ID
               ,S1.REG_USER_ID
               ,S1.REG_DT
               ,S1.CHG_USER_ID
               ,S1.CHG_DT
        FROM INSU_INSD S1,
            (
                SELECT *
                FROM
                    (
                        SELECT
                            MEMBER_ID, ORG_CD, INSU_NUM
                        FROM INSU_INSD
                        WHERE
                            MEMBER_ID = #{memberId}
                            AND ORG_CD = #{orgCd}
                            <if test = 'insuNum  != null and insuNum != ""'>
                                AND INSU_NUM = #{insuNum}
                            </if>
                        ORDER BY MEMBER_ID, ORG_CD, CHG_DT DESC
                    )
                WHERE rownum = 1
            ) S2
       WHERE
             S1.MEMBER_ID = S2.MEMBER_ID
           AND S1.ORG_CD = S2.ORG_CD
           AND S1.INSU_NUM = S2.INSU_NUM
    </select>

    <select id="selectInsuInsdListTotalCnt" parameterType="InsuInsdSearch"  resultType="Long">
         SELECT 
             COUNT(*) 
        FROM INSU_INSD
       WHERE 1 = 1 
       <if test = 'memberId  != null and memberId != ""'>
           AND MEMBER_ID = #{memberId}
       </if>
       <if test = 'orgCd  != null and orgCd != ""'>
           AND ORG_CD = #{orgCd}
       </if>
       <if test = 'insuNum  != null and insuNum != ""'>
           AND INSU_NUM = #{insuNum}
       </if>
    </select>

    <select id="selectInsuInsdList" parameterType="InsuInsdSearch"  resultType="InsuInsdEntity">
         SELECT 
             T.ROW_NUM AS ROW_NUM 
             ,T.* 
         FROM 
         ( 
         SELECT 
             ROW_NUMBER() OVER(ORDER BY MEMBER_ID, ORG_CD, INSU_NUM) ROW_NUM
               ,MEMBER_ID
               ,ORG_CD
               ,INSU_NUM
               ,IS_CONSENT
               ,PROD_NAME
               ,INSU_TYPE
               ,INSU_STATUS
               ,API_TRAN_DAY
               ,API_TRAN_ID
               ,REG_USER_ID
               ,REG_DT
               ,CHG_USER_ID
               ,CHG_DT
        FROM INSU_INSD
       WHERE 1 = 1 
       <if test = 'memberId  != null and memberId != ""'>
           AND MEMBER_ID = #{memberId}
       </if>
       <if test = 'orgCd  != null and orgCd != ""'>
           AND ORG_CD = #{orgCd}
       </if>
       <if test = 'insuNum  != null and insuNum != ""'>
           AND INSU_NUM = #{insuNum}
       </if>
        ORDER BY MEMBER_ID, ORG_CD, INSU_NUM
       ) T 
       <if test = 'startIndex != null and endIndex != null '> 
       WHERE T.ROW_NUM BETWEEN #{startIndex} AND #{endIndex} 
       </if> 
    </select>
</mapper>
