<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.albee.mydataapi.api.base.invt.repository.InvtAccProdBaseDateMapper">

    <insert id="insertInvtAccProdBaseDate" parameterType="InvtAccProdBaseDateEntity">
        INSERT INTO INVT_ACC_PROD_BASE_DATE
        (
            MEMBER_ID
            ,ORG_CD
            ,ACCOUNT_NUM
            ,BASE_DATE
            ,API_TRAN_DAY
            ,API_TRAN_ID
            ,REG_USER_ID
            ,REG_DT
            ,CHG_USER_ID
            ,CHG_DT
        ) VALUES 
        (
            #{memberId, jdbcType=VARCHAR}
            ,#{orgCd, jdbcType=VARCHAR}
            ,#{accountNum, jdbcType=VARCHAR}
            ,#{baseDate, jdbcType=VARCHAR}
            ,#{apiTranDay, jdbcType=VARCHAR}
            ,#{apiTranId, jdbcType=VARCHAR}
            ,#{regUserId, jdbcType=VARCHAR}
            ,TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
            ,#{chgUserId, jdbcType=VARCHAR}
            ,TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
        ) 
    </insert>

    <update id="updateInvtAccProdBaseDate" parameterType="InvtAccProdBaseDateEntity">
        UPDATE INVT_ACC_PROD_BASE_DATE
           SET 
               MEMBER_ID = #{memberId, jdbcType=VARCHAR}
               ,ORG_CD = #{orgCd, jdbcType=VARCHAR}
               ,ACCOUNT_NUM = #{accountNum, jdbcType=VARCHAR}
               ,BASE_DATE = #{baseDate, jdbcType=VARCHAR}
               ,API_TRAN_DAY = #{apiTranDay, jdbcType=VARCHAR}
               ,API_TRAN_ID = #{apiTranId, jdbcType=VARCHAR}
               ,CHG_USER_ID = #{chgUserId, jdbcType=VARCHAR}
               ,CHG_DT = TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
         WHERE 
               MEMBER_ID = #{memberId}
           AND ORG_CD = #{orgCd}
           AND ACCOUNT_NUM = #{accountNum}
           AND BASE_DATE = #{baseDate}
    </update>

    <delete id="deleteInvtAccProdBaseDate" parameterType="InvtAccProdBaseDateEntity">
        DELETE FROM INVT_ACC_PROD_BASE_DATE
         WHERE 
               MEMBER_ID = #{memberId}
           AND ORG_CD = #{orgCd}
           AND ACCOUNT_NUM = #{accountNum}
           AND BASE_DATE = #{baseDate}
    </delete>

    <select id="selectInvtAccProdBaseDate" parameterType="InvtAccProdBaseDateSearch"  resultType="InvtAccProdBaseDateEntity">
         SELECT 
               MEMBER_ID
               ,ORG_CD
               ,ACCOUNT_NUM
               ,BASE_DATE
               ,API_TRAN_DAY
               ,API_TRAN_ID
               ,REG_USER_ID
               ,REG_DT
               ,CHG_USER_ID
               ,CHG_DT
        FROM INVT_ACC_PROD_BASE_DATE
       WHERE 
               MEMBER_ID = #{memberId}
           AND ORG_CD = #{orgCd}
           AND ACCOUNT_NUM = #{accountNum}
           AND BASE_DATE = #{baseDate}
    </select>

    <select id="selectInvtAccProdBaseDateListTotalCnt" parameterType="InvtAccProdBaseDateSearch"  resultType="Long">
         SELECT 
             COUNT(*) 
        FROM INVT_ACC_PROD_BASE_DATE
       WHERE 1 = 1 
       <if test = 'memberId  != null and memberId != ""'>
           AND MEMBER_ID = #{memberId}
       </if>
       <if test = 'orgCd  != null and orgCd != ""'>
           AND ORG_CD = #{orgCd}
       </if>
       <if test = 'accountNum  != null and accountNum != ""'>
           AND ACCOUNT_NUM = #{accountNum}
       </if>
       <if test = 'baseDate  != null and baseDate != ""'>
           AND BASE_DATE = #{baseDate}
       </if>
    </select>

    <select id="selectInvtAccProdBaseDateList" parameterType="InvtAccProdBaseDateSearch"  resultType="InvtAccProdBaseDateEntity">
         SELECT 
             T.ROW_NUM AS ROW_NUM 
             ,T.* 
         FROM 
         ( 
         SELECT 
             ROW_NUMBER() OVER(ORDER BY MEMBER_ID, ORG_CD, ACCOUNT_NUM, BASE_DATE) ROW_NUM
               ,MEMBER_ID
               ,ORG_CD
               ,ACCOUNT_NUM
               ,BASE_DATE
               ,API_TRAN_DAY
               ,API_TRAN_ID
               ,REG_USER_ID
               ,REG_DT
               ,CHG_USER_ID
               ,CHG_DT
        FROM INVT_ACC_PROD_BASE_DATE
       WHERE 1 = 1 
       <if test = 'memberId  != null and memberId != ""'>
           AND MEMBER_ID = #{memberId}
       </if>
       <if test = 'orgCd  != null and orgCd != ""'>
           AND ORG_CD = #{orgCd}
       </if>
       <if test = 'accountNum  != null and accountNum != ""'>
           AND ACCOUNT_NUM = #{accountNum}
       </if>
       <if test = 'baseDate  != null and baseDate != ""'>
           AND BASE_DATE = #{baseDate}
       </if>
        ORDER BY MEMBER_ID, ORG_CD, ACCOUNT_NUM, BASE_DATE
       ) T 
       <if test = 'startIndex != null and endIndex != null '> 
       WHERE T.ROW_NUM BETWEEN #{startIndex} AND #{endIndex} 
       </if> 
    </select>
</mapper>
