<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kpcnc.mydataapi.api.base.invt.repository.InvtAccBaseMapper">

    <insert id="insertInvtAccBase" parameterType="InvtAccBaseEntity">
        INSERT INTO INVT_ACC_BASE
        (
            MEMBER_ID
            ,ORG_CD
            ,ACCOUNT_NUM
            ,CURRENCY_CODE
            ,WITHHOLDINGS_AMT
            ,CREDIT_LOAN_AMT
            ,MORTGAGE_AMT
            ,AVAIL_BALANCE
            ,REG_USER_ID
            ,REG_DT
            ,CHG_USER_ID
            ,CHG_DT
        ) VALUES 
        (
            #{memberId, jdbcType=VARCHAR}
            ,#{orgCd, jdbcType=VARCHAR}
            ,#{accountNum, jdbcType=VARCHAR}
            ,#{currencyCode, jdbcType=VARCHAR}
            ,#{withholdingsAmt, jdbcType=NUMERIC}
            ,#{creditLoanAmt, jdbcType=NUMERIC}
            ,#{mortgageAmt, jdbcType=NUMERIC}
            ,#{availBalance, jdbcType=NUMERIC}
            ,#{regUserId, jdbcType=VARCHAR}
            ,TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
            ,#{chgUserId, jdbcType=VARCHAR}
            ,TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
        ) 
    </insert>

    <update id="updateInvtAccBase" parameterType="InvtAccBaseEntity">
        UPDATE INVT_ACC_BASE
           SET 
               MEMBER_ID = #{memberId, jdbcType=VARCHAR}
               ,ORG_CD = #{orgCd, jdbcType=VARCHAR}
               ,ACCOUNT_NUM = #{accountNum, jdbcType=VARCHAR}
               ,CURRENCY_CODE = #{currencyCode, jdbcType=VARCHAR}
               ,WITHHOLDINGS_AMT = #{withholdingsAmt, jdbcType=NUMERIC}
               ,CREDIT_LOAN_AMT = #{creditLoanAmt, jdbcType=NUMERIC}
               ,MORTGAGE_AMT = #{mortgageAmt, jdbcType=NUMERIC}
               ,AVAIL_BALANCE = #{availBalance, jdbcType=NUMERIC}
               ,CHG_USER_ID = #{chgUserId, jdbcType=VARCHAR}
               ,CHG_DT = TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
         WHERE 
               MEMBER_ID = #{memberId}
           AND ORG_CD = #{orgCd}
           AND ACCOUNT_NUM = #{accountNum}
    </update>

    <delete id="deleteInvtAccBase" parameterType="InvtAccBaseEntity">
        DELETE FROM INVT_ACC_BASE
         WHERE 
               MEMBER_ID = #{memberId}
           AND ORG_CD = #{orgCd}
           AND ACCOUNT_NUM = #{accountNum}
    </delete>

    <select id="selectInvtAccBase" parameterType="InvtAccBaseSearch"  resultType="InvtAccBaseEntity">
         SELECT 
               MEMBER_ID
               ,ORG_CD
               ,ACCOUNT_NUM
               ,CURRENCY_CODE
               ,WITHHOLDINGS_AMT
               ,CREDIT_LOAN_AMT
               ,MORTGAGE_AMT
               ,AVAIL_BALANCE
               ,REG_USER_ID
               ,REG_DT
               ,CHG_USER_ID
               ,CHG_DT
        FROM INVT_ACC_BASE
       WHERE 
               MEMBER_ID = #{memberId}
           AND ORG_CD = #{orgCd}
           AND ACCOUNT_NUM = #{accountNum}
    </select>

    <select id="selectInvtAccBaseListTotalCnt" parameterType="InvtAccBaseSearch"  resultType="Long">
         SELECT 
             COUNT(*) 
        FROM INVT_ACC_BASE
       WHERE 1 = 1 
       <if test = 'memberId  != null and memberId != ""'>
           AND MEMBER_ID = #{memberId}
       </if>
       <if test = 'orgCd  != null and orgCd != ""'>
           AND ORG_CD = #{orgCd}
       </if>
       <if test = 'accountNum  != null and accountNum != ""'>
           AND ACCOUNT_NUM = #{accountNum}
       </if>
    </select>

    <select id="selectInvtAccBaseList" parameterType="InvtAccBaseSearch"  resultType="InvtAccBaseEntity">
         SELECT 
             T.ROW_NUM AS ROW_NUM 
             ,T.* 
         FROM 
         ( 
         SELECT 
             ROW_NUMBER() OVER(ORDER BY MEMBER_ID, ORG_CD, ACCOUNT_NUM) ROW_NUM
               ,MEMBER_ID
               ,ORG_CD
               ,ACCOUNT_NUM
               ,CURRENCY_CODE
               ,WITHHOLDINGS_AMT
               ,CREDIT_LOAN_AMT
               ,MORTGAGE_AMT
               ,AVAIL_BALANCE
               ,REG_USER_ID
               ,REG_DT
               ,CHG_USER_ID
               ,CHG_DT
        FROM INVT_ACC_BASE
       WHERE 1 = 1 
       <if test = 'memberId  != null and memberId != ""'>
           AND MEMBER_ID = #{memberId}
       </if>
       <if test = 'orgCd  != null and orgCd != ""'>
           AND ORG_CD = #{orgCd}
       </if>
       <if test = 'accountNum  != null and accountNum != ""'>
           AND ACCOUNT_NUM = #{accountNum}
       </if>
        ORDER BY MEMBER_ID, ORG_CD, ACCOUNT_NUM
       ) T 
       <if test = 'startIndex != null and endIndex != null '> 
       WHERE T.ROW_NUM BETWEEN #{startIndex} AND #{endIndex} 
       </if> 
    </select>
</mapper>
