<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.abcc.mydataapi.api.base.irp.repository.IrpAccAddMapper">

    <insert id="insertIrpAccAdd" parameterType="IrpAccAddEntity">
        INSERT INTO IRP_ACC_ADD
        (
            MEMBER_ID
            ,ORG_CD
            ,ACCOUNT_NUM
            ,IRP_NO
            ,IRP_NAME
            ,IRP_TYPE
            ,EVAL_AMT
            ,INV_PRINCIPAL
            ,FUND_NUM
            ,OPEN_DATE
            ,EXP_DATE
            ,INT_RATE
            ,API_TRAN_DAY
            ,API_TRAN_ID
            ,REG_USER_ID
            ,REG_DT
            ,CHG_USER_ID
            ,CHG_DT
        ) VALUES 
        (
            #{memberId, jdbcType=VARCHAR}
            ,#{orgCd, jdbcType=VARCHAR}
            , #{accountNun, jdbcType=VARCHAR}
            ,#{irpNo, jdbcType=VARCHAR}
            ,#{irpName, jdbcType=VARCHAR}
            ,#{irpType, jdbcType=VARCHAR}
            ,#{evalAmt, jdbcType=NUMERIC}
            ,#{invPrincipal, jdbcType=NUMERIC}
            ,#{fundNum, jdbcType=NUMERIC}
            ,#{openDate, jdbcType=VARCHAR}
            ,#{expDate, jdbcType=VARCHAR}
            ,#{intRate, jdbcType=NUMERIC}
            ,#{apiTranDay, jdbcType=VARCHAR}
            ,#{apiTranId, jdbcType=VARCHAR}
            ,#{regUserId, jdbcType=VARCHAR}
            ,TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
            ,#{chgUserId, jdbcType=VARCHAR}
            ,TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
        ) 
    </insert>

    <update id="updateIrpAccAdd" parameterType="IrpAccAddEntity">
        UPDATE IRP_ACC_ADD
           SET 
               MEMBER_ID = #{memberId, jdbcType=VARCHAR}
               ,ORG_CD = #{orgCd, jdbcType=VARCHAR}
               ,ACCOUNT_NUN = #{accountNun, jdbcType=VARCHAR}
               ,IRP_NAME = #{irpName, jdbcType=VARCHAR}
               ,IRP_NO = #{irpNo, jdbcType=VARCHAR}
               ,IRP_TYPE = #{irpType, jdbcType=VARCHAR}
               ,EVAL_AMT = #{evalAmt, jdbcType=NUMERIC}
               ,INV_PRINCIPAL = #{invPrincipal, jdbcType=NUMERIC}
               ,FUND_NUM = #{fundNum, jdbcType=NUMERIC}
               ,OPEN_DATE = #{openDate, jdbcType=VARCHAR}
               ,EXP_DATE = #{expDate, jdbcType=VARCHAR}
               ,INT_RATE = #{intRate, jdbcType=NUMERIC}
               ,API_TRAN_DAY = #{apiTranDay, jdbcType=VARCHAR}
               ,API_TRAN_ID = #{apiTranId, jdbcType=VARCHAR}
               ,CHG_USER_ID = #{chgUserId, jdbcType=VARCHAR}
               ,CHG_DT = TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
         WHERE 
               MEMBER_ID = #{memberId}
           AND ORG_CD = #{orgCd}
           AND ACCOUNT_NUM = #{accountNum}
           AND IRP_NO = #{irpNo}
    </update>

    <delete id="deleteIrpAccAdd" parameterType="IrpAccAddEntity">
        DELETE FROM IRP_ACC_ADD
         WHERE 
               MEMBER_ID = #{memberId}
           AND ORG_CD = #{orgCd}
           AND ACCOUNT_NUM = #{accountNum}
           AND IRP_NO = #{irpNo}
    </delete>

    <delete id="deleteAllIrpAccAdd" parameterType="IrpAccAddEntity">
        DELETE FROM IRP_ACC_ADD
         WHERE
               MEMBER_ID = #{memberId}
           AND ORG_CD = #{orgCd}
           AND ACCOUNT_NUM = #{accountNum}
    </delete>

    <select id="selectIrpAccAdd" parameterType="IrpAccAddSearch"  resultType="IrpAccAddEntity">
         SELECT 
               MEMBER_ID
               ,ORG_CD
               ,ACCOUNT_NUM
               ,IRP_NO
               ,IRP_NAME
               ,IRP_TYPE
               ,EVAL_AMT
               ,INV_PRINCIPAL
               ,FUND_NUM
               ,OPEN_DATE
               ,EXP_DATE
               ,INT_RATE
               ,API_TRAN_DAY
               ,API_TRAN_ID
               ,REG_USER_ID
               ,REG_DT
               ,CHG_USER_ID
               ,CHG_DT
        FROM IRP_ACC_ADD
       WHERE 
               MEMBER_ID = #{memberId}
           AND ORG_CD = #{orgCd}
           AND ACCOUNT_NUM = #{accountNum}
           AND IRP_NO = #{irpNo}
    </select>

    <select id="selectIrpAccAddLast" parameterType="IrpAccAddSearch"  resultType="IrpAccAddEntity">
         SELECT
                I1.MEMBER_ID
               ,I1.ORG_CD
               ,I1.ACCOUNT_NUM
               ,I1.IRP_NO
               ,I1.IRP_NAME
               ,I1.IRP_TYPE
               ,I1.EVAL_AMT
               ,I1.INV_PRINCIPAL
               ,I1.FUND_NUM
               ,I1.OPEN_DATE
               ,I1.EXP_DATE
               ,I1.INT_RATE
               ,I1.API_TRAN_DAY
               ,I1.API_TRAN_ID
               ,I1.REG_USER_ID
               ,I1.REG_DT
               ,I1.CHG_USER_ID
               ,I1.CHG_DT
        FROM IRP_ACC_ADD I1,
            (
                SELECT *
                FROM
                    (
                        SELECT
                            MEMBER_ID, ORG_CD, ACCOUNT_NUM, IRP_NO
                        FROM IRP_ACC_ADD
                        WHERE
                            MEMBER_ID = #{memberId}
                            AND ORG_CD = #{orgCd}
                            AND ACCOUNT_NUM = #{accountNum}
                            <if test = 'seqno  != null and seqno != ""'>
                                AND SEQNO = #{seqno}
                            </if>
                        ORDER BY MEMBER_ID, ORG_CD, ACCOUNT_NUM, CHG_DT DESC
                    )
                WHERE rownum = 1
            ) I2
       WHERE
               I1.MEMBER_ID = I2.MEMBER_ID
           AND I1.ORG_CD = I2.ORG_CD
           AND I1.ACCOUNT_NUM = I2.ACCOUNT_NUM
           AND I1.IRP_NO = I2.IRP_NO
    </select>

    <select id="selectIrpAccAddListTotalCnt" parameterType="IrpAccAddSearch"  resultType="Long">
         SELECT 
             COUNT(*) 
        FROM IRP_ACC_ADD
       WHERE 1 = 1 
       <if test = 'memberId  != null and memberId != ""'>
           AND MEMBER_ID = #{memberId}
       </if>
       <if test = 'orgCd  != null and orgCd != ""'>
           AND ORG_CD = #{orgCd}
       </if>
        <if test = 'accountNum  != null and accountNum != ""'>
            AND ACCOUNT_NUM = #{accountNum}
        </if>
       <if test = 'irpNo  != null and irpNo != ""'>
           AND IRP_NO = #{irpNo}
       </if>
    </select>

    <select id="selectIrpAccAddList" parameterType="IrpAccAddSearch"  resultType="IrpAccAddEntity">
         SELECT 
             T.ROW_NUM AS ROW_NUM 
             ,T.* 
         FROM 
         ( 
         SELECT 
             ROW_NUMBER() OVER(ORDER BY MEMBER_ID, ORG_CD, IRP_NAME) ROW_NUM
               ,MEMBER_ID
               ,ORG_CD
               ,IRP_NAME
               ,IRP_NO
               ,IRP_TYPE
               ,EVAL_AMT
               ,INV_PRINCIPAL
               ,FUND_NUM
               ,OPEN_DATE
               ,EXP_DATE
               ,INT_RATE
               ,API_TRAN_DAY
               ,API_TRAN_ID
               ,REG_USER_ID
               ,REG_DT
               ,CHG_USER_ID
               ,CHG_DT
        FROM IRP_ACC_ADD
       WHERE 1 = 1 
       <if test = 'memberId  != null and memberId != ""'>
           AND MEMBER_ID = #{memberId}
       </if>
       <if test = 'orgCd  != null and orgCd != ""'>
           AND ORG_CD = #{orgCd}
       </if>
       <if test = 'irpName  != null and irpName != ""'>
           AND IRP_NAME = #{irpName}
       </if>
        ORDER BY MEMBER_ID, ORG_CD, IRP_NAME
       ) T 
       <if test = 'startIndex != null and endIndex != null '> 
       WHERE T.ROW_NUM BETWEEN #{startIndex} AND #{endIndex} 
       </if> 
    </select>
</mapper>
