<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kpcnc.mydataapi.api.base.itfn.repository.ItfnLeaseHistMapper">

    <insert id="insertItfnLeaseHist" parameterType="ItfnLeaseHistEntity">
        INSERT INTO ITFN_LEASE_HIST
        (
            MEMBER_ID
            ,ORG_CD
            ,ACCOUNT_NUM
            ,SEQNO
            ,TRANS_DTIME
            ,TRANS_NO
            ,TRANS_TYPE
            ,TRANS_AMT
            ,REG_USER_ID
            ,REG_DT
            ,CHG_USER_ID
            ,CHG_DT
        ) VALUES 
        (
            #{memberId, jdbcType=VARCHAR}
            ,#{orgCd, jdbcType=VARCHAR}
            ,#{accountNum, jdbcType=VARCHAR}
            ,#{seqno, jdbcType=VARCHAR}
            ,#{transDtime, jdbcType=VARCHAR}
            ,#{transNo, jdbcType=VARCHAR}
            ,#{transType, jdbcType=VARCHAR}
            ,#{transAmt, jdbcType=NUMERIC}
            ,#{regUserId, jdbcType=VARCHAR}
            ,TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
            ,#{chgUserId, jdbcType=VARCHAR}
            ,TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
        ) 
    </insert>

    <update id="updateItfnLeaseHist" parameterType="ItfnLeaseHistEntity">
        UPDATE ITFN_LEASE_HIST
           SET 
               MEMBER_ID = #{memberId, jdbcType=VARCHAR}
               ,ORG_CD = #{orgCd, jdbcType=VARCHAR}
               ,ACCOUNT_NUM = #{accountNum, jdbcType=VARCHAR}
               ,SEQNO = #{seqno, jdbcType=VARCHAR}
               ,TRANS_DTIME = #{transDtime, jdbcType=VARCHAR}
               ,TRANS_NO = #{transNo, jdbcType=VARCHAR}
               ,TRANS_TYPE = #{transType, jdbcType=VARCHAR}
               ,TRANS_AMT = #{transAmt, jdbcType=NUMERIC}
               ,CHG_USER_ID = #{chgUserId, jdbcType=VARCHAR}
               ,CHG_DT = TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
         WHERE 
               MEMBER_ID = #{memberId}
           AND ORG_CD = #{orgCd}
           AND ACCOUNT_NUM = #{accountNum}
           AND SEQNO = #{seqno}
    </update>

    <delete id="deleteItfnLeaseHist" parameterType="ItfnLeaseHistEntity">
        DELETE FROM ITFN_LEASE_HIST
         WHERE 
               MEMBER_ID = #{memberId}
           AND ORG_CD = #{orgCd}
           AND ACCOUNT_NUM = #{accountNum}
           AND SEQNO = #{seqno}
    </delete>

    <select id="selectItfnLeaseHist" parameterType="ItfnLeaseHistSearch"  resultType="ItfnLeaseHistEntity">
         SELECT 
               MEMBER_ID
               ,ORG_CD
               ,ACCOUNT_NUM
               ,SEQNO
               ,TRANS_DTIME
               ,TRANS_NO
               ,TRANS_TYPE
               ,TRANS_AMT
               ,REG_USER_ID
               ,REG_DT
               ,CHG_USER_ID
               ,CHG_DT
        FROM ITFN_LEASE_HIST
       WHERE 
               MEMBER_ID = #{memberId}
           AND ORG_CD = #{orgCd}
           AND ACCOUNT_NUM = #{accountNum}
           AND SEQNO = #{seqno}
    </select>

    <select id="selectItfnLeaseHistListTotalCnt" parameterType="ItfnLeaseHistSearch"  resultType="Long">
         SELECT 
             COUNT(*) 
        FROM ITFN_LEASE_HIST
       WHERE 1 = 1 
       <if test = 'memberId  != null and memberId != ""'>
           AND MEMBER_ID = #{memberId}
       </if>
       <if test = 'orgCd  != null and orgCd != ""'>
           AND ORG_CD = #{orgCd}
       </if>
       <if test = 'accountNum  != null and accountNum != ""'>
           AND ACCOUNT_NUM = #{accountNum}
       </if>
       <if test = 'seqno  != null and seqno != ""'>
           AND SEQNO = #{seqno}
       </if>
    </select>

    <select id="selectItfnLeaseHistList" parameterType="ItfnLeaseHistSearch"  resultType="ItfnLeaseHistEntity">
         SELECT 
             T.ROW_NUM AS ROW_NUM 
             ,T.* 
         FROM 
         ( 
         SELECT 
             ROW_NUMBER() OVER(ORDER BY MEMBER_ID, ORG_CD, ACCOUNT_NUM, SEQNO) ROW_NUM
               ,MEMBER_ID
               ,ORG_CD
               ,ACCOUNT_NUM
               ,SEQNO
               ,TRANS_DTIME
               ,TRANS_NO
               ,TRANS_TYPE
               ,TRANS_AMT
               ,REG_USER_ID
               ,REG_DT
               ,CHG_USER_ID
               ,CHG_DT
        FROM ITFN_LEASE_HIST
       WHERE 1 = 1 
       <if test = 'memberId  != null and memberId != ""'>
           AND MEMBER_ID = #{memberId}
       </if>
       <if test = 'orgCd  != null and orgCd != ""'>
           AND ORG_CD = #{orgCd}
       </if>
       <if test = 'accountNum  != null and accountNum != ""'>
           AND ACCOUNT_NUM = #{accountNum}
       </if>
       <if test = 'seqno  != null and seqno != ""'>
           AND SEQNO = #{seqno}
       </if>
        ORDER BY MEMBER_ID, ORG_CD, ACCOUNT_NUM, SEQNO
       ) T 
       <if test = 'startIndex != null and endIndex != null '> 
       WHERE T.ROW_NUM BETWEEN #{startIndex} AND #{endIndex} 
       </if> 
    </select>
</mapper>
