<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kpcnc.mydataapi.api.load.itfn.repository.ItfnLoanAddMapper">

    <insert id="insertItfnLoanAdd" parameterType="ItfnLoanAddEntity">
        INSERT INTO ITFN_LOAN_ADD
        (
            MEMBER_ID
            ,ORG_CD
            ,ACCOUNT_NUM
            ,SEQNO
            ,CURRENCY_CODE
            ,BALANCE_AMT
            ,LOAN_PRINCIPAL
            ,NEXT_REPAY_DATE
            ,REG_USER_ID
            ,REG_DT
            ,CHG_USER_ID
            ,CHG_DT
        ) VALUES 
        (
            #{memberId, jdbcType=VARCHAR}
            ,#{orgCd, jdbcType=VARCHAR}
            ,#{accountNum, jdbcType=VARCHAR}
            ,#{seqno, jdbcType=VARCHAR}
            ,#{currencyCode, jdbcType=VARCHAR}
            ,#{balanceAmt, jdbcType=NUMERIC}
            ,#{loanPrincipal, jdbcType=NUMERIC}
            ,#{nextRepayDate, jdbcType=VARCHAR}
            ,#{regUserId, jdbcType=VARCHAR}
            ,TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
            ,#{chgUserId, jdbcType=VARCHAR}
            ,TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
        ) 
    </insert>

    <update id="updateItfnLoanAdd" parameterType="ItfnLoanAddEntity">
        UPDATE ITFN_LOAN_ADD
           SET 
               MEMBER_ID = #{memberId, jdbcType=VARCHAR}
               ,ORG_CD = #{orgCd, jdbcType=VARCHAR}
               ,ACCOUNT_NUM = #{accountNum, jdbcType=VARCHAR}
               ,SEQNO = #{seqno, jdbcType=VARCHAR}
               ,CURRENCY_CODE = #{currencyCode, jdbcType=VARCHAR}
               ,BALANCE_AMT = #{balanceAmt, jdbcType=NUMERIC}
               ,LOAN_PRINCIPAL = #{loanPrincipal, jdbcType=NUMERIC}
               ,NEXT_REPAY_DATE = #{nextRepayDate, jdbcType=VARCHAR}
               ,CHG_USER_ID = #{chgUserId, jdbcType=VARCHAR}
               ,CHG_DT = TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
         WHERE 
               MEMBER_ID = #{memberId}
           AND ORG_CD = #{orgCd}
           AND ACCOUNT_NUM = #{accountNum}
           AND SEQNO = #{seqno}
    </update>

    <delete id="deleteItfnLoanAdd" parameterType="ItfnLoanAddEntity">
        DELETE FROM ITFN_LOAN_ADD
         WHERE 
               MEMBER_ID = #{memberId}
           AND ORG_CD = #{orgCd}
           AND ACCOUNT_NUM = #{accountNum}
           AND SEQNO = #{seqno}
    </delete>

    <select id="selectItfnLoanAdd" parameterType="ItfnLoanAddSearch"  resultType="ItfnLoanAddEntity">
         SELECT 
               MEMBER_ID
               ,ORG_CD
               ,ACCOUNT_NUM
               ,SEQNO
               ,CURRENCY_CODE
               ,BALANCE_AMT
               ,LOAN_PRINCIPAL
               ,NEXT_REPAY_DATE
               ,REG_USER_ID
               ,REG_DT
               ,CHG_USER_ID
               ,CHG_DT
        FROM ITFN_LOAN_ADD
       WHERE 
               MEMBER_ID = #{memberId}
           AND ORG_CD = #{orgCd}
           AND ACCOUNT_NUM = #{accountNum}
           AND SEQNO = #{seqno}
    </select>

    <select id="selectItfnLoanAddListTotalCnt" parameterType="ItfnLoanAddSearch"  resultType="Long">
         SELECT 
             COUNT(*) 
        FROM ITFN_LOAN_ADD
       WHERE 1 = 1 
       <if test = 'memberId  != null and memberId != ""'>
           AND MEMBER_ID = #{memberId}
       </if>
       <if test = 'orgCd  != null and orgCd != ""'>
           AND ORG_CD = #{orgCd}
       </if>
       <if test = 'accountNum  != null and accountNum != ""'>
           AND ACCOUNT_NUM = #{accountNum}
       </if>
       <if test = 'seqno  != null and seqno != ""'>
           AND SEQNO = #{seqno}
       </if>
    </select>

    <select id="selectItfnLoanAddList" parameterType="ItfnLoanAddSearch"  resultType="ItfnLoanAddEntity">
         SELECT 
             T.ROW_NUM AS ROW_NUM 
             ,T.* 
         FROM 
         ( 
         SELECT 
             ROW_NUMBER() OVER(ORDER BY MEMBER_ID, ORG_CD, ACCOUNT_NUM, SEQNO) ROW_NUM
               ,MEMBER_ID
               ,ORG_CD
               ,ACCOUNT_NUM
               ,SEQNO
               ,CURRENCY_CODE
               ,BALANCE_AMT
               ,LOAN_PRINCIPAL
               ,NEXT_REPAY_DATE
               ,REG_USER_ID
               ,REG_DT
               ,CHG_USER_ID
               ,CHG_DT
        FROM ITFN_LOAN_ADD
       WHERE 1 = 1 
       <if test = 'memberId  != null and memberId != ""'>
           AND MEMBER_ID = #{memberId}
       </if>
       <if test = 'orgCd  != null and orgCd != ""'>
           AND ORG_CD = #{orgCd}
       </if>
       <if test = 'accountNum  != null and accountNum != ""'>
           AND ACCOUNT_NUM = #{accountNum}
       </if>
       <if test = 'seqno  != null and seqno != ""'>
           AND SEQNO = #{seqno}
       </if>
        ORDER BY MEMBER_ID, ORG_CD, ACCOUNT_NUM, SEQNO
       ) T 
       <if test = 'startIndex != null and endIndex != null '> 
       WHERE T.ROW_NUM BETWEEN #{startIndex} AND #{endIndex} 
       </if> 
    </select>
</mapper>
