<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kpcnc.mydataapi.api.load.itfn.repository.ItfnLoanHistMapper">

    <insert id="insertItfnLoanHist" parameterType="ItfnLoanHistEntity">
        INSERT INTO ITFN_LOAN_HIST
        (
            MEMBER_ID
            ,ORG_CD
            ,ACCOUNT_NUM
            ,SEQNO
            ,TRANS_DTIME
            ,TRANS_NO
            ,TRANS_TYPE
            ,CURRENCY_CODE
            ,TRANS_AMT
            ,BALANCE_AMT
            ,PRINCIPAL_AMT
            ,INT_AMT
            ,RET_INT_AMT
            ,INT_CNT
            ,REG_USER_ID
            ,REG_DT
            ,CHG_USER_ID
            ,CHG_DT
        ) VALUES 
        (
            #{memberId, jdbcType=VARCHAR}
            ,#{orgCd, jdbcType=VARCHAR}
            ,#{accountNum, jdbcType=VARCHAR}
            ,#{seqno, jdbcType=VARCHAR}
            ,#{transDtime, jdbcType=VARCHAR}
            ,#{transNo, jdbcType=VARCHAR}
            ,#{transType, jdbcType=VARCHAR}
            ,#{currencyCode, jdbcType=VARCHAR}
            ,#{transAmt, jdbcType=NUMERIC}
            ,#{balanceAmt, jdbcType=NUMERIC}
            ,#{principalAmt, jdbcType=NUMERIC}
            ,#{intAmt, jdbcType=NUMERIC}
            ,#{retIntAmt, jdbcType=NUMERIC}
            ,#{intCnt, jdbcType=NUMERIC}
            ,#{regUserId, jdbcType=VARCHAR}
            ,TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
            ,#{chgUserId, jdbcType=VARCHAR}
            ,TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
        ) 
    </insert>

    <update id="updateItfnLoanHist" parameterType="ItfnLoanHistEntity">
        UPDATE ITFN_LOAN_HIST
           SET 
               MEMBER_ID = #{memberId, jdbcType=VARCHAR}
               ,ORG_CD = #{orgCd, jdbcType=VARCHAR}
               ,ACCOUNT_NUM = #{accountNum, jdbcType=VARCHAR}
               ,SEQNO = #{seqno, jdbcType=VARCHAR}
               ,TRANS_DTIME = #{transDtime, jdbcType=VARCHAR}
               ,TRANS_NO = #{transNo, jdbcType=VARCHAR}
               ,TRANS_TYPE = #{transType, jdbcType=VARCHAR}
               ,CURRENCY_CODE = #{currencyCode, jdbcType=VARCHAR}
               ,TRANS_AMT = #{transAmt, jdbcType=NUMERIC}
               ,BALANCE_AMT = #{balanceAmt, jdbcType=NUMERIC}
               ,PRINCIPAL_AMT = #{principalAmt, jdbcType=NUMERIC}
               ,INT_AMT = #{intAmt, jdbcType=NUMERIC}
               ,RET_INT_AMT = #{retIntAmt, jdbcType=NUMERIC}
               ,INT_CNT = #{intCnt, jdbcType=NUMERIC}
               ,CHG_USER_ID = #{chgUserId, jdbcType=VARCHAR}
               ,CHG_DT = TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
         WHERE 
               MEMBER_ID = #{memberId}
           AND ORG_CD = #{orgCd}
           AND ACCOUNT_NUM = #{accountNum}
           AND SEQNO = #{seqno}
           AND TRANS_DTIME = #{transDtime}
           AND TRANS_NO = #{transNo}
    </update>

    <delete id="deleteItfnLoanHist" parameterType="ItfnLoanHistEntity">
        DELETE FROM ITFN_LOAN_HIST
         WHERE 
               MEMBER_ID = #{memberId}
           AND ORG_CD = #{orgCd}
           AND ACCOUNT_NUM = #{accountNum}
           AND SEQNO = #{seqno}
           AND TRANS_DTIME = #{transDtime}
           AND TRANS_NO = #{transNo}
    </delete>

    <select id="selectItfnLoanHist" parameterType="ItfnLoanHistSearch"  resultType="ItfnLoanHistEntity">
         SELECT 
               MEMBER_ID
               ,ORG_CD
               ,ACCOUNT_NUM
               ,SEQNO
               ,TRANS_DTIME
               ,TRANS_NO
               ,TRANS_TYPE
               ,CURRENCY_CODE
               ,TRANS_AMT
               ,BALANCE_AMT
               ,PRINCIPAL_AMT
               ,INT_AMT
               ,RET_INT_AMT
               ,INT_CNT
               ,REG_USER_ID
               ,REG_DT
               ,CHG_USER_ID
               ,CHG_DT
        FROM ITFN_LOAN_HIST
       WHERE 
               MEMBER_ID = #{memberId}
           AND ORG_CD = #{orgCd}
           AND ACCOUNT_NUM = #{accountNum}
           AND SEQNO = #{seqno}
           AND TRANS_DTIME = #{transDtime}
           AND TRANS_NO = #{transNo}
    </select>

    <select id="selectItfnLoanHistListTotalCnt" parameterType="ItfnLoanHistSearch"  resultType="Long">
         SELECT 
             COUNT(*) 
        FROM ITFN_LOAN_HIST
       WHERE 1 = 1 
       <if test = 'memberId  != null and memberId != ""'>
           AND MEMBER_ID = #{memberId}
       </if>
       <if test = 'orgCd  != null and orgCd != ""'>
           AND ORG_CD = #{orgCd}
       </if>
       <if test = 'accountNum  != null and accountNum != ""'>
           AND ACCOUNT_NUM = #{accountNum}
       </if>
       <if test = 'seqno  != null and seqno != ""'>
           AND SEQNO = #{seqno}
       </if>
       <if test = 'transDtime  != null and transDtime != ""'>
           AND TRANS_DTIME = #{transDtime}
       </if>
       <if test = 'transNo  != null and transNo != ""'>
           AND TRANS_NO = #{transNo}
       </if>
    </select>

    <select id="selectItfnLoanHistList" parameterType="ItfnLoanHistSearch"  resultType="ItfnLoanHistEntity">
         SELECT 
             T.ROW_NUM AS ROW_NUM 
             ,T.* 
         FROM 
         ( 
         SELECT 
             ROW_NUMBER() OVER(ORDER BY MEMBER_ID, ORG_CD, ACCOUNT_NUM, SEQNO, TRANS_DTIME, TRANS_NO) ROW_NUM
               ,MEMBER_ID
               ,ORG_CD
               ,ACCOUNT_NUM
               ,SEQNO
               ,TRANS_DTIME
               ,TRANS_NO
               ,TRANS_TYPE
               ,CURRENCY_CODE
               ,TRANS_AMT
               ,BALANCE_AMT
               ,PRINCIPAL_AMT
               ,INT_AMT
               ,RET_INT_AMT
               ,INT_CNT
               ,REG_USER_ID
               ,REG_DT
               ,CHG_USER_ID
               ,CHG_DT
        FROM ITFN_LOAN_HIST
       WHERE 1 = 1 
       <if test = 'memberId  != null and memberId != ""'>
           AND MEMBER_ID = #{memberId}
       </if>
       <if test = 'orgCd  != null and orgCd != ""'>
           AND ORG_CD = #{orgCd}
       </if>
       <if test = 'accountNum  != null and accountNum != ""'>
           AND ACCOUNT_NUM = #{accountNum}
       </if>
       <if test = 'seqno  != null and seqno != ""'>
           AND SEQNO = #{seqno}
       </if>
       <if test = 'transDtime  != null and transDtime != ""'>
           AND TRANS_DTIME = #{transDtime}
       </if>
       <if test = 'transNo  != null and transNo != ""'>
           AND TRANS_NO = #{transNo}
       </if>
        ORDER BY MEMBER_ID, ORG_CD, ACCOUNT_NUM, SEQNO, TRANS_DTIME, TRANS_NO
       ) T 
       <if test = 'startIndex != null and endIndex != null '> 
       WHERE T.ROW_NUM BETWEEN #{startIndex} AND #{endIndex} 
       </if> 
    </select>
</mapper>
