<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.abcc.mydataapi.api.common.member.repository.MemberMapper">

    <select id="createMemberId" resultType="String">
        SELECT 'MID' || LPAD(TO_NUMBER(SUBSTR(NVL(MAX(MEMBER_ID), 'MID00000000000000000'), 4, 20)) + TO_NUMBER(1), 17, '0') AS member_id
        FROM MEMBER
    </select>

    <insert id="insertMember" parameterType="MemberEntity">
            INSERT INTO MEMBER
            (
                MEMBER_ID
                ,CI
                ,MEMBER_RN
                ,MEMBER_PWD
                ,MEMBER_NAME
                ,MEMBER_STATUS
                ,JOIN_DT
                ,LEAVE_DT
                ,LAST_CONTACT_DT
                ,REG_USER_ID
                ,REG_DT
                ,CHG_USER_ID
                ,CHG_DT
            ) VALUES
            (
                #{memberId}
                ,#{ci, jdbcType=VARCHAR}
                ,#{memberRn, jdbcType=VARCHAR}
                ,#{memberPwd, jdbcType=VARCHAR}
                ,#{memberName, jdbcType=VARCHAR}
                ,'01'
                ,TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
                ,NULL
                ,TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
                ,#{regUserId}
                ,TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
                ,#{chgUserId}
                ,TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
            )
    </insert>

    <update id="updateMember" parameterType="MemberEntity">
            UPDATE MEMBER
               SET
                  CI                = #{ci, jdbcType=VARCHAR}
                 ,MEMBER_RN         = #{memberRn, jdbcType=VARCHAR}
                 ,MEMBER_PWD        = #{memberPwd, jdbcType=VARCHAR}
                 ,MEMBER_NAME       = #{memberName, jdbcType=VARCHAR}
                 ,MEMBER_STATUS     = #{memberStatus, jdbcType=VARCHAR}
                 ,JOIN_DT           = #{joinDt, jdbcType=VARCHAR}
                 ,LEAVE_DT          = #{leaveDt, jdbcType=VARCHAR}
                 ,LAST_CONTACT_DT   = #{lastContactDt, jdbcType=VARCHAR}
                 ,CHG_USER_ID       = #{chgUserId}
                 ,CHG_DT            = TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
            WHERE MEMBER_ID = #{memberId}
    </update>

    <select id="selectMember" parameterType="String" resultType="MemberEntity">
            SELECT
                MEMBER_ID
                 ,CI
                 ,MEMBER_RN
                 ,MEMBER_PWD
                 ,MEMBER_NAME
                 ,MEMBER_STATUS
                 ,JOIN_DT
                 ,LEAVE_DT
                 ,LAST_CONTACT_DT
                 ,REG_USER_ID
                 ,REG_DT
                 ,CHG_USER_ID
                 ,CHG_DT
            FROM MEMBER
            WHERE MEMBER_ID = #{memberId}
    </select>

    <select id="selectMemberListTotalCnt" parameterType="MemberSearch" resultType="Long">
        SELECT
            COUNT(MEMBER_ID)
        FROM MEMBER
        WHERE 1 = 1
        <if test = 'memberId != null and memberId !=""'>
            AND MEMBER_ID = #{memberId}
        </if>
        <if test = 'memberId != null and memberId !=""'>
            AND MEMBER_Name LIKE CONCAT('%', #{memberName}, '%')
        </if>
    </select>

    <select id="selectMemberList" parameterType="MemberSearch" resultType="MemberEntity">
       SELECT
            T.ROW_NUM AS ROW_NUM
            ,T.*
        FROM
        (
            SELECT
                ROW_NUMBER() OVER(ORDER BY M.MEMBER_NAME, M.MEMBER_ID) ROW_NUM
                ,M.MEMBER_ID
                ,M.CI
                ,M.MEMBER_RN
                ,M.MEMBER_PWD
                ,M.MEMBER_NAME
                ,M.MEMBER_STATUS
                ,M.JOIN_DT
                ,M.LEAVE_DT
                ,M.LAST_CONTACT_DT
                ,M.REG_USER_ID
                ,M.REG_DT
                ,M.CHG_USER_ID
                ,M.CHG_DT
            FROM MEMBER M
            WHERE 1 = 1
            <if test = 'memberId != null and memberId !=""'>
                AND M.MEMBER_ID = #{memberId}
            </if>
            <if test = 'memberId != null and memberId !=""'>
                AND M.MEMBER_NAME LIKE CONCAT('%', #{memberName}, '%')
            </if>
            ORDER BY M.MEMBER_NAME, M.MEMBER_ID
        ) T
        <if test = 'startIndex != null and endIndex != null '>
        WHERE T.ROW_NUM BETWEEN #{startIndex} AND #{endIndex}
        </if>
    </select>

</mapper>