<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kpcnc.mydataapi.api.load.p2p.repository.P2pLoanHistMapper">

    <insert id="insertP2pLoanHist" parameterType="P2pLoanHistEntity">
        INSERT INTO P2P_LOAN_HIST
        (
            MEMBER_ID
            ,ORG_CD
            ,LENDING_ID
            ,TRANS_DTIME
            ,REPAY_CNT
            ,REPAY_TYPE
            ,TRANS_AMT
            ,PRINCIPAL_AMT
            ,INT_AMT
            ,REG_USER_ID
            ,REG_DT
            ,CHG_USER_ID
            ,CHG_DT
        ) VALUES 
        (
            #{memberId, jdbcType=VARCHAR}
            ,#{orgCd, jdbcType=VARCHAR}
            ,#{lendingId, jdbcType=VARCHAR}
            ,#{transDtime, jdbcType=NUMERIC}
            ,#{repayCnt, jdbcType=NUMERIC}
            ,#{repayType, jdbcType=VARCHAR}
            ,#{transAmt, jdbcType=NUMERIC}
            ,#{principalAmt, jdbcType=NUMERIC}
            ,#{intAmt, jdbcType=NUMERIC}
            ,#{regUserId, jdbcType=VARCHAR}
            ,TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
            ,#{chgUserId, jdbcType=VARCHAR}
            ,TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
        ) 
    </insert>

    <update id="updateP2pLoanHist" parameterType="P2pLoanHistEntity">
        UPDATE P2P_LOAN_HIST
           SET 
               MEMBER_ID = #{memberId, jdbcType=VARCHAR}
               ,ORG_CD = #{orgCd, jdbcType=VARCHAR}
               ,LENDING_ID = #{lendingId, jdbcType=VARCHAR}
               ,TRANS_DTIME = #{transDtime, jdbcType=NUMERIC}
               ,REPAY_CNT = #{repayCnt, jdbcType=NUMERIC}
               ,REPAY_TYPE = #{repayType, jdbcType=VARCHAR}
               ,TRANS_AMT = #{transAmt, jdbcType=NUMERIC}
               ,PRINCIPAL_AMT = #{principalAmt, jdbcType=NUMERIC}
               ,INT_AMT = #{intAmt, jdbcType=NUMERIC}
               ,CHG_USER_ID = #{chgUserId, jdbcType=VARCHAR}
               ,CHG_DT = TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
         WHERE 
               MEMBER_ID = #{memberId}
           AND ORG_CD = #{orgCd}
           AND LENDING_ID = #{lendingId}
    </update>

    <delete id="deleteP2pLoanHist" parameterType="P2pLoanHistEntity">
        DELETE FROM P2P_LOAN_HIST
         WHERE 
               MEMBER_ID = #{memberId}
           AND ORG_CD = #{orgCd}
           AND LENDING_ID = #{lendingId}
    </delete>

    <select id="selectP2pLoanHist" parameterType="P2pLoanHistSearch"  resultType="P2pLoanHistEntity">
         SELECT 
               MEMBER_ID
               ,ORG_CD
               ,LENDING_ID
               ,TRANS_DTIME
               ,REPAY_CNT
               ,REPAY_TYPE
               ,TRANS_AMT
               ,PRINCIPAL_AMT
               ,INT_AMT
               ,REG_USER_ID
               ,REG_DT
               ,CHG_USER_ID
               ,CHG_DT
        FROM P2P_LOAN_HIST
       WHERE 
               MEMBER_ID = #{memberId}
           AND ORG_CD = #{orgCd}
           AND LENDING_ID = #{lendingId}
    </select>

    <select id="selectP2pLoanHistListTotalCnt" parameterType="P2pLoanHistSearch"  resultType="Long">
         SELECT 
             COUNT(*) 
        FROM P2P_LOAN_HIST
       WHERE 1 = 1 
       <if test = 'memberId  != null and memberId != ""'>
           AND MEMBER_ID = #{memberId}
       </if>
       <if test = 'orgCd  != null and orgCd != ""'>
           AND ORG_CD = #{orgCd}
       </if>
       <if test = 'lendingId  != null and lendingId != ""'>
           AND LENDING_ID = #{lendingId}
       </if>
    </select>

    <select id="selectP2pLoanHistList" parameterType="P2pLoanHistSearch"  resultType="P2pLoanHistEntity">
         SELECT 
             T.ROW_NUM AS ROW_NUM 
             ,T.* 
         FROM 
         ( 
         SELECT 
             ROW_NUMBER() OVER(ORDER BY MEMBER_ID, ORG_CD, LENDING_ID) ROW_NUM
               ,MEMBER_ID
               ,ORG_CD
               ,LENDING_ID
               ,TRANS_DTIME
               ,REPAY_CNT
               ,REPAY_TYPE
               ,TRANS_AMT
               ,PRINCIPAL_AMT
               ,INT_AMT
               ,REG_USER_ID
               ,REG_DT
               ,CHG_USER_ID
               ,CHG_DT
        FROM P2P_LOAN_HIST
       WHERE 1 = 1 
       <if test = 'memberId  != null and memberId != ""'>
           AND MEMBER_ID = #{memberId}
       </if>
       <if test = 'orgCd  != null and orgCd != ""'>
           AND ORG_CD = #{orgCd}
       </if>
       <if test = 'lendingId  != null and lendingId != ""'>
           AND LENDING_ID = #{lendingId}
       </if>
        ORDER BY MEMBER_ID, ORG_CD, LENDING_ID
       ) T 
       <if test = 'startIndex != null and endIndex != null '> 
       WHERE T.ROW_NUM BETWEEN #{startIndex} AND #{endIndex} 
       </if> 
    </select>
</mapper>
