<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.abcc.mydataapi.api.base.tele.repository.TeleChargeMapper">

    <insert id="insertTeleCharge" parameterType="TeleChargeEntity">
        INSERT INTO TELE_CHARGE
        (
            MEMBER_ID
            ,ORG_CD
            ,MGMT_ID
            ,CHARGE_MONTH
            ,CHARGE_AMT
            ,CHARGE_DATE
            ,API_TRAN_DAY
            ,API_TRAN_ID
            ,REG_USER_ID
            ,REG_DT
            ,CHG_USER_ID
            ,CHG_DT
        ) VALUES 
        (
            #{memberId, jdbcType=VARCHAR}
            ,#{orgCd, jdbcType=VARCHAR}
            ,#{mgmtId, jdbcType=VARCHAR}
            ,#{chargeMonth, jdbcType=VARCHAR}
            ,#{chargeAmt, jdbcType=NUMERIC}
            ,#{chargeDate, jdbcType=VARCHAR}
            ,#{apiTranDay, jdbcType=VARCHAR}
            ,#{apiTranId, jdbcType=VARCHAR}
            ,#{regUserId, jdbcType=VARCHAR}
            ,TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
            ,#{chgUserId, jdbcType=VARCHAR}
            ,TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
        ) 
    </insert>

    <update id="updateTeleCharge" parameterType="TeleChargeEntity">
        UPDATE TELE_CHARGE
           SET 
               MEMBER_ID = #{memberId, jdbcType=VARCHAR}
               ,ORG_CD = #{orgCd, jdbcType=VARCHAR}
               ,MGMT_ID = #{mgmtId, jdbcType=VARCHAR}
               ,CHARGE_MONTH = #{chargeMonth, jdbcType=VARCHAR}
               ,CHARGE_AMT = #{chargeAmt, jdbcType=NUMERIC}
               ,CHARGE_DATE = #{chargeDate, jdbcType=VARCHAR}
               ,API_TRAN_DAY = #{apiTranDay, jdbcType=VARCHAR}
               ,API_TRAN_ID = #{apiTranId, jdbcType=VARCHAR}
               ,CHG_USER_ID = #{chgUserId, jdbcType=VARCHAR}
               ,CHG_DT = TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
         WHERE 
               MEMBER_ID = #{memberId}
           AND ORG_CD = #{orgCd}
           AND MGMT_ID = #{mgmtId}
    </update>

    <delete id="deleteTeleCharge" parameterType="TeleChargeEntity">
        DELETE FROM TELE_CHARGE
         WHERE 
               MEMBER_ID = #{memberId}
           AND ORG_CD = #{orgCd}
           AND MGMT_ID = #{mgmtId}
    </delete>

    <select id="selectTeleCharge" parameterType="TeleChargeSearch"  resultType="TeleChargeEntity">
         SELECT 
               MEMBER_ID
               ,ORG_CD
               ,MGMT_ID
               ,CHARGE_MONTH
               ,CHARGE_AMT
               ,CHARGE_DATE
               ,API_TRAN_DAY
               ,API_TRAN_ID
               ,REG_USER_ID
               ,REG_DT
               ,CHG_USER_ID
               ,CHG_DT
        FROM TELE_CHARGE
       WHERE 
               MEMBER_ID = #{memberId}
           AND ORG_CD = #{orgCd}
           AND MGMT_ID = #{mgmtId}
    </select>

    <select id="selectTeleChargeListTotalCnt" parameterType="TeleChargeSearch"  resultType="Long">
         SELECT 
             COUNT(*) 
        FROM TELE_CHARGE
       WHERE 1 = 1 
       <if test = 'memberId  != null and memberId != ""'>
           AND MEMBER_ID = #{memberId}
       </if>
       <if test = 'orgCd  != null and orgCd != ""'>
           AND ORG_CD = #{orgCd}
       </if>
       <if test = 'mgmtId  != null and mgmtId != ""'>
           AND MGMT_ID = #{mgmtId}
       </if>
    </select>

    <select id="selectTeleChargeList" parameterType="TeleChargeSearch"  resultType="TeleChargeEntity">
         SELECT 
             T.ROW_NUM AS ROW_NUM 
             ,T.* 
         FROM 
         ( 
         SELECT 
             ROW_NUMBER() OVER(ORDER BY MEMBER_ID, ORG_CD, MGMT_ID) ROW_NUM
               ,MEMBER_ID
               ,ORG_CD
               ,MGMT_ID
               ,CHARGE_MONTH
               ,CHARGE_AMT
               ,CHARGE_DATE
               ,API_TRAN_DAY
               ,API_TRAN_ID
               ,REG_USER_ID
               ,REG_DT
               ,CHG_USER_ID
               ,CHG_DT
        FROM TELE_CHARGE
       WHERE 1 = 1 
       <if test = 'memberId  != null and memberId != ""'>
           AND MEMBER_ID = #{memberId}
       </if>
       <if test = 'orgCd  != null and orgCd != ""'>
           AND ORG_CD = #{orgCd}
       </if>
       <if test = 'mgmtId  != null and mgmtId != ""'>
           AND MGMT_ID = #{mgmtId}
       </if>
        ORDER BY MEMBER_ID, ORG_CD, MGMT_ID
       ) T 
       <if test = 'startIndex != null and endIndex != null '> 
       WHERE T.ROW_NUM BETWEEN #{startIndex} AND #{endIndex} 
       </if> 
    </select>
</mapper>
