<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.albee.mydataapi.api.base.tele.repository.TeleHistMapper">

    <insert id="insertTeleHist" parameterType="TeleHistEntity">
        INSERT INTO TELE_HIST
        (
            MEMBER_ID
            ,ORG_CD
            ,MGMT_ID
            ,TRANS_MONTH
            ,PAID_AMT
            ,PAY_METHOD
            ,API_TRAN_DAY
            ,API_TRAN_ID
            ,REG_USER_ID
            ,REG_DT
            ,CHG_USER_ID
            ,CHG_DT
        ) VALUES 
        (
            #{memberId, jdbcType=VARCHAR}
            ,#{orgCd, jdbcType=VARCHAR}
            ,#{mgmtId, jdbcType=VARCHAR}
            ,#{transMonth, jdbcType=VARCHAR}
            ,#{paidAmt, jdbcType=NUMERIC}
            ,#{payMethod, jdbcType=VARCHAR}
            ,#{apiTranDay, jdbcType=VARCHAR}
            ,#{apiTranId, jdbcType=VARCHAR}
            ,#{regUserId, jdbcType=VARCHAR}
            ,TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
            ,#{chgUserId, jdbcType=VARCHAR}
            ,TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
        ) 
    </insert>

    <update id="updateTeleHist" parameterType="TeleHistEntity">
        UPDATE TELE_HIST
           SET 
               MEMBER_ID = #{memberId, jdbcType=VARCHAR}
               ,ORG_CD = #{orgCd, jdbcType=VARCHAR}
               ,MGMT_ID = #{mgmtId, jdbcType=VARCHAR}
               ,TRANS_MONTH = #{transMonth, jdbcType=VARCHAR}
               ,PAID_AMT = #{paidAmt, jdbcType=NUMERIC}
               ,PAY_METHOD = #{payMethod, jdbcType=VARCHAR}
               ,API_TRAN_DAY = #{apiTranDay, jdbcType=VARCHAR}
               ,API_TRAN_ID = #{apiTranId, jdbcType=VARCHAR}
               ,CHG_USER_ID = #{chgUserId, jdbcType=VARCHAR}
               ,CHG_DT = TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
         WHERE 
               MEMBER_ID = #{memberId}
           AND ORG_CD = #{orgCd}
           AND MGMT_ID = #{mgmtId}
           AND TRANS_MONTH = #{transMonth}
    </update>

    <delete id="deleteTeleHist" parameterType="TeleHistEntity">
        DELETE FROM TELE_HIST
         WHERE 
               MEMBER_ID = #{memberId}
           AND ORG_CD = #{orgCd}
           AND MGMT_ID = #{mgmtId}
           AND TRANS_MONTH = #{transMonth}
    </delete>

    <select id="selectTeleHist" parameterType="TeleHistSearch"  resultType="TeleHistEntity">
         SELECT 
               MEMBER_ID
               ,ORG_CD
               ,MGMT_ID
               ,TRANS_MONTH
               ,PAID_AMT
               ,PAY_METHOD
               ,API_TRAN_DAY
               ,API_TRAN_ID
               ,REG_USER_ID
               ,REG_DT
               ,CHG_USER_ID
               ,CHG_DT
        FROM TELE_HIST
       WHERE 
               MEMBER_ID = #{memberId}
           AND ORG_CD = #{orgCd}
           AND MGMT_ID = #{mgmtId}
           AND TRANS_MONTH = #{transMonth}
    </select>

    <select id="selectTeleHistLast" parameterType="TeleHistSearch"  resultType="TeleHistEntity">
         SELECT
                T1.MEMBER_ID
               ,T1.ORG_CD
               ,T1.MGMT_ID
               ,T1.TRANS_MONTH
               ,T1.PAID_AMT
               ,T1.PAY_METHOD
               ,T1.API_TRAN_DAY
               ,T1.API_TRAN_ID
               ,T1.REG_USER_ID
               ,T1.REG_DT
               ,T1.CHG_USER_ID
               ,T1.CHG_DT
        FROM TELE_HIST T1,
            (
                SELECT *
                FROM
                    (
                        SELECT
                            MEMBER_ID, ORG_CD, MGMT_ID, TRANS_MONTH
                        FROM TELE_HIST
                        WHERE
                            MEMBER_ID = #{memberId}
                            AND ORG_CD = #{orgCd}
                            AND MGMT_ID = #{mgmtId}
                            <if test = 'transMonth  != null and transMonth != ""'>
                                AND TRANS_MONTH = #{transMonth}
                            </if>
                        ORDER BY MEMBER_ID, ORG_CD, MGMT_ID, TRANS_MONTH DESC
                    )
                WHERE rownum = 1
            ) T2
       WHERE
             T1.MEMBER_ID = T2.MEMBER_ID
           AND T1.ORG_CD = T2.ORG_CD
           AND T1.MGMT_ID = T2.MGMT_ID
           AND T1.TRANS_MONTH = T2.TRANS_MONTH
    </select>

    <select id="selectTeleHistListTotalCnt" parameterType="TeleHistSearch"  resultType="Long">
         SELECT 
             COUNT(*) 
        FROM TELE_HIST
       WHERE 1 = 1 
       <if test = 'memberId  != null and memberId != ""'>
           AND MEMBER_ID = #{memberId}
       </if>
       <if test = 'orgCd  != null and orgCd != ""'>
           AND ORG_CD = #{orgCd}
       </if>
       <if test = 'mgmtId  != null and mgmtId != ""'>
           AND MGMT_ID = #{mgmtId}
       </if>
        <if test = 'transMonth  != null and transMonth != ""'>
            AND TRANS_MONTH = #{transMonth}
        </if>
    </select>

    <select id="selectTeleHistList" parameterType="TeleHistSearch"  resultType="TeleHistEntity">
         SELECT 
             T.ROW_NUM AS ROW_NUM 
             ,T.* 
         FROM 
         ( 
         SELECT 
             ROW_NUMBER() OVER(ORDER BY MEMBER_ID, ORG_CD, MGMT_ID, TRANS_MONTH) ROW_NUM
               ,MEMBER_ID
               ,ORG_CD
               ,MGMT_ID
               ,TRANS_MONTH
               ,PAID_AMT
               ,PAY_METHOD
               ,API_TRAN_DAY
               ,API_TRAN_ID
               ,REG_USER_ID
               ,REG_DT
               ,CHG_USER_ID
               ,CHG_DT
        FROM TELE_HIST
       WHERE 1 = 1 
       <if test = 'memberId  != null and memberId != ""'>
           AND MEMBER_ID = #{memberId}
       </if>
       <if test = 'orgCd  != null and orgCd != ""'>
           AND ORG_CD = #{orgCd}
       </if>
       <if test = 'mgmtId  != null and mgmtId != ""'>
           AND MGMT_ID = #{mgmtId}
       </if>
        <if test = 'transMonth  != null and transMonth != ""'>
            AND TRANS_MONTH = #{transMonth}
        </if>
        ORDER BY MEMBER_ID, ORG_CD, MGMT_ID, TRANS_MONTH DESC
       ) T 
       <if test = 'startIndex != null and endIndex != null '> 
       WHERE T.ROW_NUM BETWEEN #{startIndex} AND #{endIndex} 
       </if> 
    </select>
</mapper>
